<?xml version="1.0" encoding="utf-8"?>

<image schemaversion="5.8" name="initrd-isoboot-suse-SLED11">
	<description type="boot">
		<author>Marcus Schaefer</author>
		<contact>ms@novell.com</contact>
		<specification>boot/initrd image used for LiveDVD media</specification>
	</description>
	<preferences>
		<type image="cpio" bootprofile="default" bootkernel="std"/>
		<version>2.1.2</version>
		<packagemanager>zypper</packagemanager>
		<rpm-check-signatures>false</rpm-check-signatures>
	</preferences>
	<profiles>
		<profile name="default" description="Boot with default setup"/>
		<profile name="xen" description="Boot with xen mboot.c32 setup"/>
		<profile name="std" description="KERNEL: Default"/>
		<profile name="pae" description="KERNEL: pae kernel"/>
		<profile name="rt" description="KERNEL: Real time kernel"/>
		<profile name="xenk" description="KERNEL: Xen kernel/mboot.c32"/>
		<profile name="custom" description="KERNEL: specified by bootinclude in system XML"/>
	</profiles>
	<drivers>
		<file name="crypto/*"/>
		<file name="drivers/usb/core/usbcore.ko"/>
		<file name="drivers/usb/host/*"/>
		<file name="drivers/usb/storage/usb-storage.ko"/>
		<file name="drivers/acpi/dock.ko"/>
		<file name="drivers/ata/*"/>
		<file name="drivers/block/brd.ko"/>
		<file name="drivers/block/loop.ko"/>
		<file name="drivers/block/virtio_blk.ko"/>
		<file name="drivers/cdrom/*"/>
		<file name="drivers/char/agp/intel-agp.ko"/>
		<file name="drivers/char/hw_random/virtio-rng.ko"/>
		<file name="drivers/firmware/edd.ko"/>
		<file name="drivers/gpu/drm/i915/i915.ko"/>
		<file name="drivers/hid/*"/>
		<file name="drivers/ide/*"/>
		<file name="drivers/ieee1394/*"/>
		<file name="drivers/md/*"/>
		<file name="drivers/message/fusion/*"/>
		<file name="drivers/net/virtio_net.ko"/>
		<file name="drivers/parport/*"/>
		<file name="drivers/scsi/*"/>
		<file name="drivers/virtio/*"/>
		<file name="fs/binfmt_aout.ko"/>
		<file name="fs/binfmt_misc.ko"/>
		<file name="fs/ext2/*"/>
		<file name="fs/ext3/*"/>
		<file name="fs/fat/*"/>
		<file name="fs/fuse/*"/>
		<file name="fs/jbd/*"/>
		<file name="fs/mbcache.ko"/>
		<file name="fs/nls/nls_cp437.ko"/>
		<file name="fs/nls/nls_iso8859-1.ko"/>
		<file name="fs/nls/nls_utf8.ko"/>
		<file name="fs/quota_v1.ko"/>
		<file name="fs/quota_v2.ko"/>
		<file name="fs/squashfs/*"/>
		<file name="fs/vfat/*"/>
	</drivers>
	<drivers profiles="xen">
		<file name="drivers/xen/*"/>
	</drivers>
	<repository type="rpm-md" status="replaceable">
		<source path="obs://SUSE:SLE-11:GA/standard"/>
	</repository>
	<packages type="image" profiles="std">
		<package name="kernel-default"/>
		<package name="kernel-default-base"/>
	</packages>
	<packages type="image" profiles="pae">
		<package name="kernel-pae" arch="i686"/>
		<package name="kernel-pae-base" arch="i686"/>
		<package name="kernel-pae" arch="i586"/>
		<package name="kernel-pae-base" arch="i586"/>
	</packages>
	<packages type="image" profiles="rt">
		<package name="kernel-rt"/>
		<package name="kernel-rt-base"/>
	</packages>
	<packages type="image" profiles="xenk">
		<package name="kernel-xen"/>
		<package name="kernel-xen-base"/>
<!-- xen dom0 support only on x86_64 -->
		<package name="xen" arch="x86_64"/>
	</packages>
	<packages type="image" profiles="custom"><!-- empty custom section to allow bootincluding custom kernel --></packages>
	<packages type="bootstrap">
		<package name="bind-libs"/>
		<package name="bind-utils"/>
		<package name="bootsplash"/>
		<package name="checkmedia"/>
		<package name="cryptsetup"/>
		<package name="dhcpcd"/>
		<package name="dialog"/>
		<package name="file"/>
		<package name="filesystem"/>
		<package name="fribidi"/>
		<package name="gawk"/>
		<package name="genisoimage"/>
		<package name="gfxboot"/>
		<package name="glibc"/>
		<package name="glibc-locale"/>
		<package name="grub"/>
		<package name="hdparm"/>
		<package name="hwinfo"/>
		<package name="iproute2"/>
		<package name="kiwi-tools"/>
		<package name="lvm2"/>
		<package name="make"/>
		<package name="memtest86+"/>
		<package name="netcfg"/>
		<package name="openssl-certs"/>
		<package name="parted"/>
		<package name="psmisc"/>
		<package name="rpm"/>
		<package name="sysconfig"/>
		<package name="sysfsutils"/>
		<package name="syslinux"/>
		<package name="tar"/>
	</packages>
	<packages type="delete">
		<package name="ConsoleKit"/>
		<package name="ConsoleKit-32bit"/>
		<package name="PolicyKit"/>
		<package name="aaa_skel"/>
		<package name="audit-libs"/>
		<package name="audit-libs-32bit"/>
		<package name="bind-libs"/>
		<package name="bind-utils"/>
		<package name="binutils"/>
		<package name="blocxx"/>
		<package name="bootsplash"/>
		<package name="cracklib-dict-full"/>
		<package name="cracklib-dict-small"/>
		<package name="cron"/>
		<package name="cyrus-sasl"/>
		<package name="db"/>
		<package name="dbus-1-glib"/>
		<package name="dhcpcd"/>
		<package name="diffutils"/>
		<package name="expat"/>
		<package name="fillup"/>
		<package name="freetype2"/>
		<package name="fribidi"/>
		<package name="gawk"/>
		<package name="gdbm"/>
		<package name="gfxboot"/>
		<package name="glib2"/>
		<package name="glib2-lang"/>
		<package name="glibc-locale"/>
		<package name="gpg"/>
		<package name="gpg2"/>
		<package name="grub"/>
		<package name="hdparm"/>
		<package name="info"/>
		<package name="insserv"/>
		<package name="iproute2"/>
		<package name="iptables"/>
		<package name="irqbalance"/>
		<package name="keyutils-libs"/>
		<package name="libexpat1"/>
		<package name="libjpeg"/>
		<package name="liblcms"/>
		<package name="libmng"/>
		<package name="libnscd"/>
		<package name="libopenssl0_9_8"/>
		<package name="libsmbios-libs"/>
		<package name="libtiff3"/>
		<package name="libxcrypt"/>
		<package name="libxcrypt-32bit"/>
		<package name="libxml2"/>
		<package name="libzio"/>
		<package name="licenses"/>
		<package name="limal"/>
		<package name="limal-perl"/>
		<package name="logrotate"/>
		<package name="lvm2"/>
		<package name="make"/>
		<package name="mdadm"/>
		<package name="memtest86+"/>
		<package name="mingetty"/>
		<package name="mktemp"/>
		<package name="mtools"/>
		<package name="net-tools"/>
		<package name="openldap2-client"/>
		<package name="openslp"/>
		<package name="openssl-certs"/>
		<package name="pam"/>
		<package name="pam-32bit"/>
		<package name="pam-config"/>
		<package name="pam-modules"/>
		<package name="pcre"/>
		<package name="perl"/>
		<package name="perl-Bootloader"/>
		<package name="perl-HTML-Parser"/>
		<package name="perl-HTML-Tagset"/>
		<package name="perl-base"/>
		<package name="perl-gettext"/>
		<package name="permissions"/>
		<package name="pm-utils"/>
		<package name="pmtools"/>
		<package name="postfix"/>
		<package name="pwdutils"/>
		<package name="satsolver-tools"/>
		<package name="setserial"/>
		<package name="suse-build-key"/>
		<package name="sysconfig"/>
		<package name="syslinux"/>
		<package name="syslog-ng"/>
		<package name="xorg-x11-libX11"/>
		<package name="xorg-x11-libXau"/>
		<package name="xorg-x11-libxcb"/>
	</packages>
</image>
