<?xml version="1.0"?>
<image schemeversion="2.4" name="suse-11.0-vm-guest">
	<description type="system">
		<author>Marcus Schäfer</author>
		<contact>ms@novell.com</contact>
		<specification>openSUSE 11.0 virtual disk system</specification>
	</description>
	<preferences>
		<type primary="true" filesystem="ext3" boot="vmxboot/suse-11.0" format="vmdk">vmx</type>
		<version>1.1.2</version>
		<packagemanager>smart</packagemanager>
		<rpm-check-signatures>False</rpm-check-signatures>
		<rpm-force>True</rpm-force>
		<locale>en_US</locale>
		<keytable>us.map.gz</keytable>
	</preferences>
	<repository type="yast2">
		<!--<source path="/image/CDs/full-11.0-i386"/>-->
		<source path="opensuse://11.0/repo/oss/"/>
	</repository>
	<packages type="image">
		<package name="kernel-default"/>
		<package name="bootsplash"/>
		<package name="bootsplash-branding-openSUSE"/>
		<package name="vim"/>
		<opensusePattern name="base"/>
	</packages>
	<packages type="vmware">
	</packages>
	<vmwareconfig memory="512">
		<vmwaredisk controller="ide" id="0"/>
	</vmwareconfig>
	<packages type="bootstrap">
		<package name="filesystem"/> 
		<package name="glibc-locale"/>
	</packages>
</image>
