<?xml version="1.0" encoding="utf-8"?>

<image schemaversion="5.8" name="initrd-netboot-suse-SLED11">
	<description type="boot">
		<author>Marcus Schaefer</author>
		<contact>ms@novell.com</contact>
		<specification>boot/initrd image used for PXE</specification>
	</description>
	<preferences>
		<type image="cpio" bootprofile="default" bootkernel="std"/>
		<version>2.1.1</version>
		<packagemanager>zypper</packagemanager>
		<rpm-check-signatures>false</rpm-check-signatures>
	</preferences>
	<profiles>
		<profile name="default" description="Boot with default kernel"/>
		<profile name="diskless" description="Booting diskless thin clients"/>
		<profile name="xen" description="Boot with xen mboot.c32 setup"/>
		<profile name="std" description="KERNEL: Default"/>
		<profile name="xenk" description="KERNEL: Xen kernel/mboot.c32"/>
		<profile name="pae" description="KERNEL: pae kernel"/>
		<profile name="rt" description="KERNEL: RealTime kernel"/>
	</profiles>
	<drivers profiles="xen">
		<file name="drivers/xen/*"/>
	</drivers>
	<drivers profiles="default,xen">
		<file name="crypto/*"/>
		<file name="drivers/usb/core/usbcore.ko"/>
		<file name="drivers/usb/host/*"/>
		<file name="drivers/usb/storage/usb-storage.ko"/>
		<file name="drivers/acpi/dock.ko"/>
		<file name="drivers/ata/*"/>
		<file name="drivers/block/aoe/aoe.ko"/>
		<file name="drivers/block/brd.ko"/>
		<file name="drivers/block/loop.ko"/>
		<file name="drivers/block/nbd.ko"/>
		<file name="drivers/char/agp/intel-agp.ko"/>
		<file name="drivers/char/lp.ko"/>
		<file name="drivers/gpu/drm/i915/i915.ko"/>
		<file name="drivers/hid/*"/>
		<file name="drivers/hv/*"/>
		<file name="drivers/ide/*"/>
		<file name="drivers/md/*"/>
		<file name="drivers/message/fusion/*"/>
		<file name="drivers/net/*"/>
		<file name="drivers/parport/*"/>
		<file name="drivers/scsi/*"/>
		<file name="drivers/staging/hv/*"/>
		<file name="fs/binfmt_aout.ko"/>
		<file name="fs/binfmt_misc.ko"/>
		<file name="fs/exportfs/*"/>
		<file name="fs/ext2/*"/>
		<file name="fs/ext3/*"/>
		<file name="fs/fat/*"/>
		<file name="fs/fuse/*"/>
		<file name="fs/hfs/*"/>
		<file name="fs/jbd/*"/>
		<file name="fs/lockd/*"/>
		<file name="fs/mbcache.ko"/>
		<file name="fs/nfs/*"/>
		<file name="fs/nfs_common/*"/>
		<file name="fs/quota_v1.ko"/>
		<file name="fs/quota_v2.ko"/>
		<file name="fs/reiserfs/*"/>
		<file name="fs/squashfs/*"/>
		<file name="fs/vfat/*"/>
		<file name="net/ipv6/*"/>
		<file name="net/packet/*"/>
		<file name="net/sunrpc/*"/>
	</drivers>
	<drivers profiles="diskless">
		<file name="crypto/*"/>
		<file name="drivers/block/aoe/aoe.ko"/>
		<file name="drivers/block/brd.ko"/>
		<file name="drivers/block/loop.ko"/>
		<file name="drivers/block/nbd.ko"/>
		<file name="drivers/char/agp/intel-agp.ko"/>
		<file name="drivers/gpu/drm/i915/i915.ko"/>
		<file name="drivers/ide/*"/>
		<file name="drivers/md/*"/>
		<file name="drivers/message/fusion/*"/>
		<file name="drivers/net/3c59x.ko"/>
		<file name="drivers/net/8139cp.ko"/>
		<file name="drivers/net/8139too.ko"/>
		<file name="drivers/net/8390.ko"/>
		<file name="drivers/net/b44.ko"/>
		<file name="drivers/net/bnx2.ko"/>
		<file name="drivers/net/defxx.ko"/>
		<file name="drivers/net/dl2k.ko"/>
		<file name="drivers/net/e100.ko"/>
		<file name="drivers/net/e1000/*"/>
		<file name="drivers/net/epic100.ko"/>
		<file name="drivers/net/eql.ko"/>
		<file name="drivers/net/fealnx.ko"/>
		<file name="drivers/net/forcedeth.ko"/>
		<file name="drivers/net/hp100.ko"/>
		<file name="drivers/net/mii.ko"/>
		<file name="drivers/net/myri10ge"/>
		<file name="drivers/net/natsemi.ko"/>
		<file name="drivers/net/ne2k-pci.ko"/>
		<file name="drivers/net/netconsole.ko"/>
		<file name="drivers/net/ns83820.ko"/>
		<file name="drivers/net/pcnet32.ko"/>
		<file name="drivers/net/qla3xxx.ko"/>
		<file name="drivers/net/r8169.ko"/>
		<file name="drivers/net/s2io.ko"/>
		<file name="drivers/net/sis900.ko"/>
		<file name="drivers/net/skge.ko"/>
		<file name="drivers/net/slhc.ko"/>
		<file name="drivers/net/starfire.ko"/>
		<file name="drivers/net/sundance.ko"/>
		<file name="drivers/net/sungem.ko"/>
		<file name="drivers/net/sungem_phy.ko"/>
		<file name="drivers/net/sunhme.ko"/>
		<file name="drivers/net/tg3.ko"/>
		<file name="drivers/net/tlan.ko"/>
		<file name="drivers/net/tulip/*"/>
		<file name="drivers/net/via-rhine.ko"/>
		<file name="drivers/net/via-velocity.ko"/>
		<file name="drivers/net/yellowfin.ko"/>
		<file name="fs/exportfs/*"/>
		<file name="fs/ext2/*"/>
		<file name="fs/ext3/*"/>
		<file name="fs/lockd/*"/>
		<file name="fs/mbcache.ko"/>
		<file name="fs/nfs/*"/>
		<file name="fs/nfs_common/*"/>
		<file name="fs/squashfs/*"/>
		<file name="net/packet/*"/>
		<file name="net/sunrpc/*"/>
	</drivers>
	<repository type="rpm-md" status="replaceable">
		<source path="obs://SUSE:SLE-11:GA/standard"/>
	</repository>
	<packages type="image" profiles="std">
		<package name="kernel-default"/>
		<package name="kernel-default-base"/>
	</packages>
	<packages type="image" profiles="pae">
		<package name="kernel-pae" arch="ix86"/>
		<package name="kernel-pae-base" arch="ix86"/>
	</packages>
	<packages type="image" profiles="rt">
		<package name="kernel-rt"/>
		<package name="kernel-rt-base"/>
	</packages>
	<packages type="image" profiles="xenk">
		<package name="kernel-xen"/>
		<package name="kernel-xen-base"/>
	</packages>
	<packages type="image" profiles="xen">
<!-- xen dom0 support only on x86_64 -->
		<package name="xen" arch="x86_64"/>
	</packages>
	<packages type="image" profiles="default,xen">
		<package name="atftp"/>
		<package name="bc"/>
		<package name="bind-libs"/>
		<package name="bind-utils"/>
		<package name="bootsplash"/>
		<package name="busybox"/>
		<package name="cryptsetup"/>
		<package name="curl"/>
		<package name="cyrus-sasl"/>
		<package name="dhcpcd"/>
		<package name="diffutils"/>
		<package name="dmraid"/>
		<package name="e2fsprogs"/>
		<package name="file"/>
		<package name="fribidi"/>
		<package name="hwinfo"/>
		<package name="iputils"/>
		<package name="kiwi-tools"/>
		<package name="lvm2"/>
		<package name="make"/>
		<package name="mdadm"/>
		<package name="module-init-tools"/>
		<package name="net-tools"/>
		<package name="netcfg"/>
		<package name="nfs-client"/>
		<package name="parted"/>
		<package name="procps"/>
		<package name="psmisc"/>
		<package name="reiserfs"/>
		<package name="tar"/>
		<package name="util-linux"/>
	</packages>
	<packages type="image" profiles="diskless">
		<package name="atftp"/>
		<package name="bc"/>
		<package name="bootsplash"/>
		<package name="busybox"/>
		<package name="cyrus-sasl"/>
		<package name="dhcpcd"/>
		<package name="diffutils"/>
		<package name="file"/>
		<package name="fribidi"/>
		<package name="hwinfo"/>
		<package name="iputils"/>
		<package name="kiwi-tools"/>
		<package name="module-init-tools"/>
		<package name="net-tools"/>
		<package name="netcfg"/>
		<package name="nfs-client"/>
		<package name="procps"/>
		<package name="tar"/>
		<package name="util-linux"/>
	</packages>
	<packages type="bootstrap">
		<package name="dialog"/>
		<package name="fbiterm"/>
		<package name="filesystem"/>
		<package name="gettext-runtime"/>
		<package name="glibc"/>
		<package name="glibc-locale"/>
		<package name="openssl-certs"/>
	</packages>
	<packages type="delete" profiles="default,diskless,xen">
		<package name="PolicyKit"/>
		<package name="audit-libs"/>
		<package name="blocxx"/>
		<package name="cracklib-dict-full"/>
		<package name="cracklib-dict-small"/>
		<package name="db"/>
		<package name="diffutils"/>
		<package name="expat"/>
		<package name="fillup"/>
		<package name="gdbm"/>
		<package name="glib2"/>
		<package name="glibc-locale"/>
		<package name="gpg"/>
		<package name="info"/>
		<package name="insserv"/>
		<package name="iproute2"/>
		<package name="iptables"/>
		<package name="irqbalance"/>
		<package name="libxcrypt"/>
		<package name="libxml2"/>
		<package name="libzio"/>
		<package name="licenses"/>
		<package name="limal"/>
		<package name="limal-perl"/>
		<package name="logrotate"/>
		<package name="make"/>
		<package name="mingetty"/>
		<package name="openldap2-client"/>
		<package name="openslp"/>
		<package name="pam"/>
		<package name="pam-modules"/>
		<package name="pcre"/>
		<package name="perl"/>
		<package name="perl-Bootloader"/>
		<package name="perl-gettext"/>
		<package name="permissions"/>
		<package name="pm-utils"/>
		<package name="pmtools"/>
		<package name="suse-build-key"/>
	</packages>
	<packages type="delete" profiles="diskless">
		<package name="PolicyKit"/>
		<package name="bundle-lang-common-zh"/>
		<package name="cracklib-dict-full"/>
		<package name="cracklib-dict-small"/>
		<package name="e2fsprogs"/>
		<package name="iptables"/>
		<package name="krb5"/>
		<package name="libjpeg"/>
		<package name="liblcms"/>
		<package name="libmng"/>
		<package name="libtiff3"/>
		<package name="licenses"/>
		<package name="make"/>
		<package name="openldap2-client"/>
		<package name="openslp"/>
		<package name="pam-config"/>
		<package name="pam-modules"/>
		<package name="pciutils"/>
		<package name="perl"/>
		<package name="perl-HTML-Tagset"/>
		<package name="perl-gettext"/>
		<package name="setserial"/>
		<package name="xorg-x11-libX11"/>
		<package name="xorg-x11-libXau"/>
		<package name="xorg-x11-libxcb"/>
	</packages>
</image>
