<?xml version="1.0"?>
<image schemeversion="2.0" name="initrd-usbboot-suse-SLED10-SP1">
	<description type="boot">
		<author>Marcus Schaefer</author>
		<contact>ms@novell.com</contact>
		<specification>boot/initrd image for USB stick systems</specification>
	</description>
	<preferences>
		<type bootprofile="default">cpio</type>
		<version>2.1.1</version>
		<size unit="M">60</size>
		<compressed>yes</compressed>
		<packagemanager>smart</packagemanager>
		<rpm-check-signatures>False</rpm-check-signatures>
	</preferences>
	<profiles>
		<profile name="default" description="Boot with default kernel"/>
		<profile name="xen" description="Boot with xen kernel/mboot.c32"/>
		<profile name="smp" description="Boot with smp kernel"/>
	</profiles>
	<drivers type="drivers">
		<file name="drivers/ide/*"/>
		<file name="drivers/block/loop.ko"/>
		<file name="net/packet/*"/>
		<file name="fs/ext3/*"/>
		<file name="fs/ext2/*"/>
		<file name="fs/binfmt_aout.ko"/>
		<file name="fs/binfmt_misc.ko"/>
		<file name="fs/mbcache.ko"/>
		<file name="fs/quota_v1.ko"/>
		<file name="fs/quota_v2.ko"/>
		<file name="fs/jbd/*"/>
		<file name="fs/fat/*"/>
		<file name="fs/vfat/*"/>
		<file name="fs/reiserfs/*"/>
		<file name="fs/nls/nls_utf8.ko"/>
		<file name="net/ipv6/*"/>
		<file name="drivers/cdrom/*"/>
		<file name="drivers/scsi/*"/>
		<file name="drivers/message/fusion/*"/>
		<file name="drivers/net/*"/>
		<file name="drivers/usb/host/*"/>
		<file name="drivers/usb/core/*"/>
		<file name="drivers/usb/storage/*"/>
	</drivers>
	<repository type="yast2" status="replaceable">
		<source path="opensuse://openSUSE:10.2"/>
		<!--<source path="/image/dist/full-10.2-i386"/>-->
	</repository>
	<repository type="rpm-dir">
		<source path="/usr/share/kiwi/image/usbboot/suse-repo/suse-sles-repo"/>
	</repository>
	<packages type="image" profiles="default">
		<package name="kernel-default"/>
	</packages>
	<packages type="image" profiles="smp">
		<package name="kernel-smp"/>
	</packages>
	<packages type="image" profiles="xen">
		<package name="kernel-xen"/>
		<package name="xen"/>
	</packages>
	<packages type="image">
		<package name="psmisc"/>
		<package name="e2fsprogs"/>
		<package name="file"/>
		<package name="libcom_err"/>
		<package name="module-init-tools"/>
		<package name="pciutils"/>
		<package name="reiserfs"/>
		<package name="sysconfig"/>
		<package name="sysfsutils"/>
		<package name="util-linux"/>
		<package name="gfxboot"/>
		<package name="fribidi"/>
		<package name="make"/>
		<package name="grub"/>
		<package name="hwinfo"/>
		<package name="bootsplash"/>
		<package name="bootsplash-theme-SuSE-NLD"/>
		<package name="tar"/>
	</packages>
	<packages type="bootstrap">
		<package name="filesystem"/>
		<package name="glibc-locale"/>
		<package name="procps"/>
	</packages>
	<packages type="delete">
		<package name="PolicyKit"/>
		<package name="audit-libs"/>
		<package name="blocxx"/>
		<package name="cpio"/>
		<package name="cyrus-sasl"/>
		<package name="db"/>
		<package name="diffutils"/>
		<package name="expat"/>
		<package name="fillup"/>
		<package name="gawk"/>
		<package name="gdbm"/>
		<package name="glib2"/>
		<package name="glibc-locale"/>
		<package name="gnome-filesystem"/>
		<package name="gpg"/>
		<package name="info"/>
		<package name="insserv"/>
		<package name="iproute2"/>
		<package name="irqbalance"/>
		<package name="libnscd"/>
		<package name="libxcrypt"/>
		<package name="libxml2"/>
		<package name="libzio"/>
		<package name="limal"/>
		<package name="limal-bootloader"/>
		<package name="limal-perl"/>
		<package name="logrotate"/>
		<package name="mdadm"/>
		<package name="mingetty"/>
		<package name="mkinitrd"/>
		<package name="net-tools"/>
		<package name="openSUSE-release"/>
		<package name="openldap2-client"/>
		<package name="openslp"/>
		<package name="openssl"/>
		<package name="pam"/>
		<package name="pam-modules"/>
		<package name="pcre"/>
		<package name="perl"/>
		<package name="perl-Bootloader"/>
		<package name="perl-gettext"/>
		<package name="permissions"/>
		<package name="pm-utils"/>
		<package name="pmtools"/>
		<package name="python"/>
		<package name="python-xml"/>
		<package name="resmgr"/>
		<package name="rpm-python"/>
		<package name="smart"/>
		<package name="suse-build-key"/>
		<package name="gfxboot"/>
		<package name="fribidi"/>
		<package name="make"/>
		<package name="bootsplash-theme-SuSE-NLD"/>
	</packages>
</image>
