<?xml version="1.0" encoding="utf-8"?>
<image schemaversion="3.8" name="suse-11.1-xen-guest">
	<description type="system">
		<author>Marcus Schäfer</author>
		<contact>ms@novell.com</contact>
		<specification>openSUSE 11.1 xen guest system</specification>
	</description>
	<preferences>
		<type image="xen" filesystem="ext3" boot="xenboot/suse-11.1"><xenconfig memory="128">
				<xendisk device="/dev/sda"/> 
				<xenbridge mac="00:0C:6E:AA:57:2F" name="br0"/>
			</xenconfig></type>
		<version>1.1.2</version>
		<packagemanager>zypper</packagemanager>
		<rpm-check-signatures>false</rpm-check-signatures>
		<rpm-force>true</rpm-force>
		<locale>en_US</locale>
		<keytable>us.map.gz</keytable>
	</preferences>
	<users group="root">
		<user pwd="$1$wYJUgpM5$RXMMeASDc035eX.NbYWFl0" home="/root" name="root"/>
	</users>
	<repository type="yast2">
		<!--<source path="/image/CDs/full-11.1-i386"/>-->
		<source path="opensuse://11.1/repo/oss/"/>
	</repository>
	<packages type="image">
		<package name="bootsplash-branding-openSUSE" bootinclude="true" bootdelete="true"/>
		<package name="gfxboot-branding-openSUSE" bootinclude="true" bootdelete="true"/>
		<package name="bootsplash"/>
		<package name="ifplugd"/>
		<package name="vim"/>
		<opensusePattern name="base"/>
	</packages>
	<packages type="xen">
		<package name="kernel-xen"/>
		<package name="xen"/>
	</packages>
	<packages type="bootstrap">
		<package name="filesystem"/> 
		<package name="glibc-locale"/>
	</packages>
</image>
