<?xml version="1.0" encoding="utf-8"?>

<image schemaversion="5.6" name="suse-12.3-oem-preload">
	<description type="system">
		<author>Marcus Schäfer</author>
		<contact>ms@novell.com</contact>
		<specification>openSUSE 12.3 oem preload system</specification>
	</description>
	<preferences>
		<type image="split" fsreadwrite="ext4" fsreadonly="squashfs" boot="oemboot/suse-12.3" installiso="true" bootloader="grub2"/>
		<version>1.1.2</version>
		<packagemanager>zypper</packagemanager>
		<rpm-check-signatures>false</rpm-check-signatures>
		<rpm-force>true</rpm-force>
		<locale>en_US</locale>
		<keytable>us.map.gz</keytable>
	</preferences>
	<users group="users">
		<user password="$1$wYJUgpM5$RXMMeASDc035eX.NbYWFl0" home="/home/tux" name="tux"/>
	</users>
	<users group="root">
		<user password="$1$wYJUgpM5$RXMMeASDc035eX.NbYWFl0" home="/root" name="root"/>
	</users>
	<repository type="yast2">
		<source path="opensuse://12.3/repo/oss/"/>
	</repository>
	<packages type="image">
		<package name="plymouth-branding-openSUSE" bootinclude="true"/>
		<package name="grub2-branding-openSUSE" bootinclude="true" bootdelete="true"/>
		<package name="plymouth"/>
		<package name="grub2"/>
		<package name="kernel-default"/>
		<package name="ifplugd"/>
		<package name="vim"/>
		<opensusePattern name="base"/>
		<opensusePattern name="x11"/>
	</packages>
	<packages type="bootstrap">
		<package name="filesystem"/>
		<package name="glibc-locale"/>
		<package name="module-init-tools"/> 
	</packages>
</image>
