<?xml version="1.0" encoding="utf-8"?>

<image schemaversion="5.5" name="initrd-vmxboot-suse-12.2">
	<description type="boot">
		<author>Marcus Schaefer</author>
		<contact>ms@novell.com</contact>
		<specification>boot/initrd image for virtual machines</specification>
	</description>
	<preferences>
		<type image="cpio" bootprofile="default" bootkernel="std"/>
		<version>2.7.1</version>
		<packagemanager>zypper</packagemanager>
		<rpm-check-signatures>false</rpm-check-signatures>
	</preferences>
	<profiles>
		<profile name="default" description="Booting default setup"/>
		<profile name="std" description="KERNEL: dummy entry"/>
	</profiles>
	<drivers>
		<file name="crypto/*"/>
		<file name="drivers/mmc/*"/>
		<file name="drivers/acpi/dock.ko"/>
		<file name="drivers/ata/*"/>
		<file name="drivers/block/loop.ko"/>
		<file name="drivers/block/virtio_blk.ko"/>
		<file name="drivers/char/hw_random/virtio-rng.ko"/>
		<file name="drivers/gpu/drm/i915/i915.ko"/>
		<file name="drivers/gpu/drm/nouveau/nouveau.ko"/>
		<file name="drivers/gpu/drm/radeon/radeon.ko"/>
		<file name="drivers/ide/*"/>
		<file name="drivers/md/*"/>
		<file name="drivers/message/fusion/*"/>
		<file name="drivers/net/virtio_net.ko"/>
		<file name="drivers/scsi/*"/>
		<file name="drivers/virtio/*"/>
		<file name="fs/binfmt_aout.ko"/>
		<file name="fs/binfmt_misc.ko"/>
		<file name="fs/btrfs/*"/>
		<file name="fs/exportfs/*"/>
		<file name="fs/ext2/*"/>
		<file name="fs/ext3/*"/>
		<file name="fs/ext4/*"/>
		<file name="fs/fat/*"/>
		<file name="fs/fuse/*"/>
		<file name="fs/hfs/*"/>
		<file name="fs/jbd/*"/>
		<file name="fs/jbd2/*"/>
		<file name="fs/mbcache.ko"/>
		<file name="fs/nls/nls_cp437.ko"/>
		<file name="fs/nls/nls_iso8859-1.ko"/>
		<file name="fs/nls/nls_utf8.ko"/>
		<file name="fs/quota_v1.ko"/>
		<file name="fs/quota_v2.ko"/>
		<file name="fs/squashfs/*"/>
		<file name="fs/vfat/*"/>
		<file name="fs/xfs/*"/>
		<file name="lib/crc-t10dif.ko"/>
		<file name="lib/crc16.ko"/>
		<file name="lib/libcrc32c.ko"/>
		<file name="lib/zlib_deflate/zlib_deflate.ko"/>
	</drivers>
	<repository type="rpm-md" status="replaceable">
		<source path="obs://openSUSE:/Factory:/ARM/standard"/>
	</repository>
	<packages type="bootstrap">
		<package name="bind-libs"/>
		<package name="bind-utils"/>
		<package name="bootsplash"/>
		<package name="btrfsprogs"/>
		<package name="clicfs"/>
		<package name="cryptsetup"/>
		<package name="dhcpcd"/>
		<package name="dialog"/>
		<package name="diffutils"/>
		<package name="e2fsprogs"/>
		<package name="fbiterm"/>
		<package name="file"/>
		<package name="filesystem"/>
		<package name="fribidi"/>
		<package name="gettext-runtime"/>
		<package name="glibc"/>
		<package name="glibc-locale"/>
		<package name="hwinfo"/>
		<package name="kiwi-tools"/>
		<package name="lvm2"/>
		<package name="make"/>
		<package name="module-init-tools"/>
		<package name="net-tools"/>
		<package name="netcfg"/>
		<package name="parted"/>
		<package name="pciutils"/>
		<package name="procps"/>
		<package name="psmisc"/>
		<package name="squashfs"/>
		<package name="sysconfig"/>
		<package name="sysfsutils"/>
		<package name="tar"/>
		<package name="util-linux"/>
		<package name="xfsprogs"/>
	</packages>
	<packages type="delete">
		<package name="audit-libs"/>
		<package name="blocxx"/>
		<package name="cracklib-dict-full"/>
		<package name="cracklib-dict-small"/>
		<package name="cyrus-sasl"/>
		<package name="db"/>
		<package name="expat"/>
		<package name="fillup"/>
		<package name="gawk"/>
		<package name="gdbm"/>
		<package name="glib2"/>
		<package name="gnome-filesystem"/>
		<package name="gpg"/>
		<package name="info"/>
		<package name="insserv"/>
		<package name="iproute2"/>
		<package name="iptables"/>
		<package name="limal"/>
		<package name="limal-perl"/>
		<package name="logrotate"/>
		<package name="make"/>
		<package name="mdadm"/>
		<package name="mingetty"/>
		<package name="openSUSE-release"/>
		<package name="openldap2-client"/>
		<package name="openslp"/>
		<package name="pam"/>
		<package name="pam-modules"/>
		<package name="pcre"/>
		<package name="perl"/>
		<package name="perl-Bootloader"/>
		<package name="perl-gettext"/>
		<package name="permissions"/>
		<package name="pm-utils"/>
		<package name="suse-build-key"/>
	</packages>
</image>
