<image name="test2" schemeversion="1.4">
	<description type="system">
		<author>Marcus Schaefer</author>
		<contact>ms@novell.com</contact>
		<specification>openSUSE 10.3 console system with packages</specification>
	</description>
	<preferences>
		<type primary="true" boot="isoboot/suse-10.3" flags="unified">iso</type>
		<type filesystem="ext3" boot="vmxboot/suse-10.3">vmx</type>
		<type filesystem="ext3" boot="usbboot/suse-10.3">usb</type>
		<version>1.1.1</version>
		<packagemanager>smart</packagemanager>
		<rpm-check-signatures>False</rpm-check-signatures>
	</preferences>
	<!-- Password for all users is linux -->
	<users group="users">
		<user name="linux" pwd="$2a$10$fq4yOF75pQY0lKjZkG2DBOdOlptomWELi0Gxd71pziLMGk4ZGIRH2" home="/home/linux" realname="Test User"/>
	</users>
	<users group="root">
		<user name="root" pwd="$2a$10$fq4yOF75pQY0lKjZkG2DBOdOlptomWELi0Gxd71pziLMGk4ZGIRH2" home="/root"/>
	</users>
	<repository type="yast2">
		<source path="http://download.opensuse.org/distribution/10.3/repo/oss"/>
	</repository>
	<packages type="image">
		<package name="aaa_base"/>
		<package name="aaa_skel"/>
		<package name="acl"/>
		<package name="acpid"/>
		<package name="attr"/>
		<!-- for x86_64 only -->
		<package name="linux32" arch="x86_64"/>
		<package name="bash"/>
		<package name="bc"/>
		<package name="bind-libs"/>
		<package name="binutils"/>
		<package name="bootcycle"/>
		<package name="screen"/>
		<package name="bridge-utils"/>
		<package name="mdadm"/>
		<package name="bzip2"/>
		<package name="coreutils"/>
		<package name="cpio"/>
		<package name="cpufrequtils"/>
		<package name="cracklib"/>
		<package name="db"/>
		<package name="device-mapper"/>
		<package name="dhcpcd"/>
		<package name="diffutils"/>
		<package name="e2fsprogs"/>
		<package name="file"/>
		<package name="filesystem"/>
		<package name="fillup"/>
		<package name="findutils"/>
		<package name="gawk"/>
		<package name="gpg"/>
		<package name="grep"/>
		<package name="grub"/>
		<package name="gzip"/>
		<package name="hwinfo"/>
		<package name="ifplugd"/>
		<package name="initviocons"/>
		<package name="insserv"/>
		<package name="iproute2"/>
		<package name="iptables"/>
		<package name="iputils"/>
		<package name="kbd"/>
		<package name="kernel-default"/>
		<package name="klogd"/>
		<package name="ksymoops"/>
		<package name="less"/>
		<package name="libacl"/>
		<package name="libaio"/>
		<package name="libattr"/>
		<package name="libcap"/>
		<package name="libcom_err"/>
		<package name="libevent"/>
		<package name="libgcc"/>
		<package name="libgssapi"/>
		<package name="libicu"/>
		<package name="libnscd"/>
		<package name="libpcap"/>
		<package name="libpng"/>
		<package name="libreiserfs"/>
		<package name="librpcsecgss"/>
		<package name="libstdc++"/>
		<package name="libtool"/>
		<package name="libusb"/>
		<package name="libxcrypt"/>
		<package name="libxml2"/>
		<package name="libxml2-python"/>
		<package name="libzio"/>
		<package name="logrotate"/>
		<package name="mingetty"/>
		<package name="mkinitrd"/>
		<package name="mktemp"/>
		<package name="module-init-tools"/>
		<package name="ncurses"/>
		<package name="net-tools"/>
		<package name="netcfg"/>
		<package name="nscd"/>
		<package name="openslp"/>
		<package name="openssh"/>
		<package name="openssl"/>
		<package name="pam"/>
		<package name="pam-modules"/>
		<package name="pax"/>
		<package name="pciutils"/>
		<package name="perl"/>
		<package name="perl-TimeDate"/>
		<package name="perl-Bit-Vector"/>
		<package name="perl-Bootloader"/>
		<package name="perl-Carp-Clan"/>
		<package name="perl-Compress-Zlib"/>
		<package name="perl-Config-Crontab"/>
		<package name="perl-Config-IniFiles"/>
		<package name="perl-Crypt-SmbHash"/>
		<package name="perl-Date-Calc"/>
		<package name="perl-Digest-MD4"/>
		<package name="perl-Digest-SHA1"/>
		<package name="perl-Parse-RecDescent"/>
		<package name="perl-URI"/>
		<package name="perl-X500-DN"/>
		<package name="perl-XML-Parser"/>
		<package name="perl-XML-Writer"/>
		<package name="perl-gettext"/>
		<package name="permissions"/>
		<package name="pmtools"/>
		<package name="popt"/>
		<package name="prctl"/>
		<package name="procinfo"/>
		<package name="procmail"/>
		<package name="procps"/>
		<package name="psmisc"/>
		<package name="pwdutils"/>
		<package name="python"/>
		<package name="python-xml"/>
		<package name="readline"/>
		<package name="recode"/>
		<package name="reiserfs"/>
		<package name="rpm"/>
		<package name="rsync"/>
		<package name="sed"/>
		<package name="sharutils"/>
		<package name="strace"/>
		<package name="suse-build-key"/>
		<package name="suspend"/>
		<package name="sysconfig"/>
		<package name="sysfsutils"/>
		<package name="syslinux"/>
		<package name="syslog-ng"/>
		<package name="sysvinit"/>
		<package name="tar"/>
		<package name="tcpd"/>
		<package name="terminfo"/>
		<package name="timezone"/>
		<package name="udev"/>
		<package name="utempter"/>
		<package name="util-linux"/>
		<package name="wol"/>
		<package name="xen"/>
		<package name="xen-libs"/>
		<package name="xen-tools"/>
		<package name="xntp"/>
		<package name="zlib"/>
		<package name="resmgr"/>
		<package name="irqbalance"/>
		<package name="portmap"/>
		<package name="cron"/>
		<package name="bootsplash"/>
		<package name="bootsplash-theme-SuSE"/>
		<package name="vim"/>
	</packages>
	<packages type="xen" memory="512" disk="/dev/sda">
		<package name="kernel-xen"/>
		<package name="xen"/>
	</packages>
	<packages type="boot">
		<package name="filesystem"/>
		<package name="glibc-locale"/>
		<package name="procps"/>
	</packages>
</image>
