<directory>
	<!-- The image tag is used for setting up the image -->
    <image name="minimal-10.1"/>
    <image type="ext2"/>
	<image size="1000M"/>
	<image compressed="yes"/>
	<!-- The type tag defines the smart channel type -->
    <entry type="yast2"/>
	<!-- The source tag defines the smart channel -->
    <entry source="/image/CDs/full-i386"/>
	<!-- The following list builds the image package set -->
	<entry name="3ddiag"/>
	<entry name="855resolution"/>
	<entry name="CheckHardware"/>
	<entry name="Crystalcursors"/>
	<entry name="Mesa"/>
	<entry name="SuSEfirewall2"/>
	<entry name="WindowMaker"/>
	<entry name="WindowMaker-applets"/>
	<entry name="WindowMaker-themes"/>
	<entry name="aaa_base"/>
	<entry name="aaa_skel"/>
	<entry name="acl"/>
	<entry name="acpid"/>
	<entry name="agfa-fonts"/>
	<entry name="alsa"/>
	<entry name="apparmor-profiles"/>
	<entry name="ash"/>
	<entry name="at"/>
	<entry name="attr"/>
	<entry name="audiofile"/>
	<entry name="autoyast2"/>
	<entry name="autoyast2-installation"/>
	<entry name="bash"/>
	<entry name="bc"/>
	<entry name="bind-libs"/>
	<entry name="bind-utils"/>
	<entry name="binutils"/>
	<entry name="blocxx"/>
	<entry name="busybox"/>
	<entry name="bzip2"/>
	<entry name="cabextract"/>
	<entry name="checkmedia"/>
	<entry name="cifs-mount"/>
	<entry name="compat-libstdc++"/>
	<entry name="convmv"/>
	<entry name="coreutils"/>
	<entry name="cpio"/>
	<entry name="cpp"/>
	<entry name="cpufrequtils"/>
	<entry name="cracklib"/>
	<entry name="cron"/>
	<entry name="cups-client"/>
	<entry name="cups-libs"/>
	<entry name="curl"/>
	<entry name="cyrus-sasl"/>
	<entry name="cyrus-sasl-saslauthd"/>
	<entry name="db"/>
	<entry name="dbus-1"/>
	<entry name="dbus-1-glib"/>
	<entry name="dejavu"/>
	<entry name="deltarpm"/>
	<entry name="desktop-data-SuSE"/>
	<entry name="desktop-translations"/>
	<entry name="device-mapper"/>
	<entry name="devs"/>
	<entry name="dhcpcd"/>
	<entry name="dialog"/>
	<entry name="diffutils"/>
	<entry name="dmraid"/>
	<entry name="e2fsprogs"/>
	<entry name="ed"/>
	<entry name="eject"/>
	<entry name="esound"/>
	<entry name="ethtool"/>
	<entry name="expat"/>
	<entry name="fbset"/>
	<entry name="file"/>
	<entry name="filesystem"/>
	<entry name="fillup"/>
	<entry name="findutils"/>
	<entry name="finger"/>
	<entry name="fontconfig"/>
	<entry name="fonts-config"/>
	<entry name="freeglut"/>
	<entry name="freetype"/>
	<entry name="freetype2"/>
	<entry name="fribidi"/>
	<entry name="fvwm2"/>
	<entry name="gawk"/>
	<entry name="gdbm"/>
	<entry name="gettext"/>
	<entry name="ghostscript-fonts-std"/>
	<entry name="giflib"/>
	<entry name="glib"/>
	<entry name="glib2"/>
	<entry name="glibc"/>
	<entry name="glibc-i18ndata"/>
	<entry name="glibc-locale"/>
	<entry name="gnome-filesystem"/>
	<entry name="gnutls"/>
	<entry name="gpart"/>
	<entry name="gpg"/>
	<entry name="gpm"/>
	<entry name="grep"/>
	<entry name="groff"/>
	<entry name="grub"/>
	<entry name="gtk"/>
	<entry name="gzip"/>
	<entry name="hal"/>
	<entry name="hal-resmgr"/>
	<entry name="hdparm"/>
	<entry name="hwinfo"/>
	<entry name="ifnteuro"/>
	<entry name="ifplugd"/>
	<entry name="imlib"/>
	<entry name="info"/>
	<entry name="initviocons"/>
	<entry name="insserv"/>
	<entry name="intlfnts"/>
	<entry name="iproute2"/>
	<entry name="iptables"/>
	<entry name="iputils"/>
	<entry name="isapnp"/>
	<entry name="jfsutils"/>
	<entry name="kbd"/>
	<entry name="klogd"/>
	<entry name="krb5"/>
	<entry name="ksymoops"/>
	<entry name="ldapcpplib"/>
	<entry name="less"/>
	<entry name="lftp"/>
	<entry name="libacl"/>
	<entry name="libattr"/>
	<entry name="libcap"/>
	<entry name="libcom_err"/>
	<entry name="libdrm"/>
	<entry name="libgcc"/>
	<entry name="libgcrypt"/>
	<entry name="libgpg-error"/>
	<entry name="libjpeg"/>
	<entry name="liblcms"/>
	<entry name="libmng"/>
	<entry name="libnetpbm"/>
	<entry name="libnscd"/>
	<entry name="libopencdk"/>
	<entry name="libpng"/>
	<entry name="libstdc++"/>
	<entry name="libstroke"/>
	<entry name="libtiff"/>
	<entry name="libusb"/>
	<entry name="libxcrypt"/>
	<entry name="libxml2"/>
	<entry name="libxslt"/>
	<entry name="liby2util"/>
	<entry name="libzio"/>
	<entry name="limal"/>
	<entry name="limal-bootloader"/>
	<entry name="limal-perl"/>
	<entry name="log4net"/>
	<entry name="logrotate"/>
	<entry name="lsb"/>
	<entry name="lsof"/>
	<entry name="lukemftp"/>
	<entry name="lzo"/>
	<entry name="m4"/>
	<entry name="mailx"/>
	<entry name="make"/>
	<entry name="man"/>
	<entry name="master-boot-code"/>
	<entry name="mdadm"/>
	<entry name="mingetty"/>
	<entry name="mkinitrd"/>
	<entry name="mktemp"/>
	<entry name="module-init-tools"/>
	<entry name="mono-core"/>
	<entry name="mono-data"/>
	<entry name="mono-web"/>
	<entry name="mozilla-xulrunner"/>
	<entry name="ncurses"/>
	<entry name="net-tools"/>
	<entry name="netcat"/>
	<entry name="netcfg"/>
	<entry name="netpbm"/>
	<entry name="nscd"/>
	<entry name="ntfsprogs"/>
	<entry name="openct"/>
	<entry name="openldap2-client"/>
	<entry name="openmotif-libs"/>
	<entry name="opensc"/>
	<entry name="openslp"/>
	<entry name="openssh"/>
	<entry name="openssh-askpass"/>
	<entry name="openssl"/>
	<entry name="pam"/>
	<entry name="pam-modules"/>
	<entry name="parted"/>
	<entry name="patch"/>
	<entry name="pax"/>
	<entry name="pciutils"/>
	<entry name="pcre"/>
	<entry name="pcsc-lite"/>
	<entry name="perl"/>
	<entry name="perl-Bootloader"/>
	<entry name="perl-Config-Crontab"/>
	<entry name="perl-Crypt-SmbHash"/>
	<entry name="perl-Digest-MD4"/>
	<entry name="perl-Digest-SHA1"/>
	<entry name="perl-Parse-RecDescent"/>
	<entry name="perl-TermReadLine-Gnu"/>
	<entry name="perl-X500-DN"/>
	<entry name="perl-XML-Parser"/>
	<entry name="perl-gettext"/>
	<entry name="permissions"/>
	<entry name="pmtools"/>
	<entry name="popt"/>
	<entry name="portmap"/>
	<entry name="postfix"/>
	<entry name="powersave"/>
	<entry name="powersave-libs"/>
	<entry name="procinfo"/>
	<entry name="procmail"/>
	<entry name="procps"/>
	<entry name="providers"/>
	<entry name="psmisc"/>
	<entry name="pwdutils"/>
	<entry name="qt3"/>
	<entry name="readline"/>
	<entry name="recode"/>
	<entry name="reiserfs"/>
	<entry name="release-notes"/>
	<entry name="resmgr"/>
	<entry name="rpm"/>
	<entry name="rsh"/>
	<entry name="rsync"/>
	<entry name="rug"/>
	<entry name="sash"/>
	<entry name="sax2"/>
	<entry name="sax2-gui"/>
	<entry name="sax2-ident"/>
	<entry name="sax2-libsax"/>
	<entry name="sax2-libsax-perl"/>
	<entry name="sax2-tools"/>
	<entry name="scpm"/>
	<entry name="scsi"/>
	<entry name="sed"/>
	<entry name="siga"/>
	<entry name="sisctrl"/>
	<entry name="sqlite"/>
	<entry name="src_vipa"/>
	<entry name="suse-build-key"/>
	<entry name="suse-release"/>
	<entry name="suseRegister"/>
	<entry name="suspend"/>
	<entry name="sysconfig"/>
	<entry name="sysfsutils"/>
	<entry name="syslinux"/>
	<entry name="syslog-ng"/>
	<entry name="sysvinit"/>
	<entry name="tar"/>
	<entry name="tcpd"/>
	<entry name="tcsh"/>
	<entry name="telnet"/>
	<entry name="terminfo"/>
	<entry name="testgart"/>
	<entry name="tightvnc"/>
	<entry name="timezone"/>
	<entry name="tiny-nvidia-installer"/>
	<entry name="tree"/>
	<entry name="udev"/>
	<entry name="unclutter"/>
	<entry name="usbutils"/>
	<entry name="utempter"/>
	<entry name="util-linux"/>
	<entry name="vim"/>
	<entry name="w3m"/>
	<entry name="wget"/>
	<entry name="wireless-tools"/>
	<entry name="x11-input-synaptics"/>
	<entry name="x11-input-wacom"/>
	<entry name="x11-tools"/>
	<entry name="xdelta"/>
	<entry name="xdg-menu"/>
	<entry name="xdmbgrd"/>
	<entry name="xfsprogs"/>
	<entry name="xkeyboard-config"/>
	<entry name="xli"/>
	<entry name="xlockmore"/>
	<entry name="xmset"/>
	<entry name="xorg-x11"/>
	<entry name="xorg-x11-Xvnc"/>
	<entry name="xorg-x11-driver-video"/>
	<entry name="xorg-x11-driver-video-nvidia"/>
	<entry name="xorg-x11-fonts-100dpi"/>
	<entry name="xorg-x11-fonts-75dpi"/>
	<entry name="xorg-x11-fonts-scalable"/>
	<entry name="xorg-x11-libs"/>
	<entry name="xorg-x11-server"/>
	<entry name="xorg-x11-server-glx"/>
	<entry name="xterm"/>
	<entry name="xtermset"/>
	<entry name="yast2"/>
	<entry name="yast2-backup"/>
	<entry name="yast2-bluetooth"/>
	<entry name="yast2-bootfloppy"/>
	<entry name="yast2-bootloader"/>
	<entry name="yast2-control-center"/>
	<entry name="yast2-core"/>
	<entry name="yast2-country"/>
	<entry name="yast2-dhcp-server"/>
	<entry name="yast2-dns-server"/>
	<entry name="yast2-firewall"/>
	<entry name="yast2-hardware-detection"/>
	<entry name="yast2-http-server"/>
	<entry name="yast2-inetd"/>
	<entry name="yast2-installation"/>
	<entry name="yast2-irda"/>
	<entry name="yast2-kerberos-client"/>
	<entry name="yast2-ldap"/>
	<entry name="yast2-ldap-client"/>
	<entry name="yast2-mail"/>
	<entry name="yast2-mail-aliases"/>
	<entry name="yast2-mouse"/>
	<entry name="yast2-ncurses"/>
	<entry name="yast2-network"/>
	<entry name="yast2-nfs-client"/>
	<entry name="yast2-nfs-server"/>
	<entry name="yast2-nis-client"/>
	<entry name="yast2-nis-server"/>
	<entry name="yast2-ntp-client"/>
	<entry name="yast2-online-update"/>
	<entry name="yast2-online-update-frontend"/>
	<entry name="yast2-packagemanager"/>
	<entry name="yast2-packager"/>
	<entry name="yast2-pam"/>
	<entry name="yast2-perl-bindings"/>
	<entry name="yast2-phone-services"/>
	<entry name="yast2-pkg-bindings"/>
	<entry name="yast2-power-management"/>
	<entry name="yast2-powertweak"/>
	<entry name="yast2-profile-manager"/>
	<entry name="yast2-qt"/>
	<entry name="yast2-repair"/>
	<entry name="yast2-restore"/>
	<entry name="yast2-runlevel"/>
	<entry name="yast2-samba-client"/>
	<entry name="yast2-scanner"/>
	<entry name="yast2-schema"/>
	<entry name="yast2-security"/>
	<entry name="yast2-slp"/>
	<entry name="yast2-sound"/>
	<entry name="yast2-storage"/>
	<entry name="yast2-storage-lib"/>
	<entry name="yast2-support"/>
	<entry name="yast2-sysconfig"/>
	<entry name="yast2-tftp-server"/>
	<entry name="yast2-theme-SuSELinux"/>
	<entry name="yast2-trans-stats"/>
	<entry name="yast2-transfer"/>
	<entry name="yast2-tune"/>
	<entry name="yast2-tv"/>
	<entry name="yast2-update"/>
	<entry name="yast2-users"/>
	<entry name="yast2-vm"/>
	<entry name="yast2-x11"/>
	<entry name="yast2-xml"/>
	<entry name="zlib"/>
	<entry name="zmd"/>
	<entry name="zsh"/>
	<!-- The following package list is used if this image runs in xen -->
    <xenvm name="kernel-xen"/>
    <xenvm name="xen"/>
	<!-- The following list builds the initial base package set -->
	<cpios name="filesystem"/>
    <cpios name="glibc"/>
	<cpios name="glibc-locale"/>
	<cpios name="devs"/>
    <cpios name="rpm"/>
    <cpios name="smart"/>
</directory>
