<?xml version="1.0" encoding="utf-8"?>

<image schemaversion="5.9" name="LimeJeOS-RHEL-05.4">
	<description type="system">
		<author>Marcus Schäfer</author>
		<contact>ms@novell.com</contact>
		<specification>RHEL Enterprise 5 JeOS</specification>
	</description>
	<preferences>
		<version>1.1.0</version>
		<packagemanager>yum</packagemanager>
		<bootsplash-theme>upstream</bootsplash-theme>
		<bootloader-theme>upstream</bootloader-theme>
		<locale>en_US</locale>
		<keytable>us.map.gz</keytable>
		<timezone>Europe/Berlin</timezone>
		<hwclock>utc</hwclock>
		<rpm-check-signatures>false</rpm-check-signatures>
		<type image="iso" primary="true" boot="isoboot/rhel-05.4" flags="clic" firmware="bios"/>
		<type image="vmx" boot="vmxboot/rhel-05.4" filesystem="ext3" format="vmdk" kernelcmdline="rhgb">
			<machine memory="1024" guestOS="rhel5">
				<vmdisk id="0" controller="ide"/>
				<vmnic driver="e1000" interface="0" mode="bridged"/>
			</machine>
			<systemdisk name="Vgroup1">
				<volume name="home" freespace="200M"/>
			</systemdisk>
		</type>
	</preferences>
	<users group="root">
		<user password="$1$wYJUgpM5$RXMMeASDc035eX.NbYWFl0" home="/root" name="root"/>
	</users>
	<repository type="rpm-md">
		<source path="iso:///image/CDs/RHEL-5.4-%arch-DVD.iso/Server"/>
	</repository>
	<repository type="rpm-md" priority="1">
		<source path="obs://Virtualization:/Appliances:/rhel-054/RedHat_RHEL-5"/>
	</repository>
	<packages type="image">
		<package name="grub"/>
		<package name="device-mapper-multipath"/>
		<package name="screen"/>
		<package name="firstboot"/>
		<package name="vim-minimal"/>
		<package name="selinux-policy-targeted"/>
		<package name="selinux-policy-devel"/>
		<package name="libselinux-utils"/>
		<package name="dhclient"/>
		<package name="parted"/>
		<package name="lvm2"/>
		<package name="kernel"/>
		<namedCollection name="System Tools"/>
		<namedCollection name="Text-based Internet"/>
		<package name="gfxboot-branding-upstream" bootinclude="true" bootdelete="true"/>
		<package name="redhat-logos" bootinclude="true" bootdelete="true"/>
	</packages>
	<packages type="bootstrap">
		<package name="filesystem"/>
		<package name="basesystem"/>
		<package name="yum-priorities"/>
	</packages>
</image>
