<image name="liveDVD-suse-10.3">
	<description type="system">
		<author>Marcus Schaefer</author>
		<contact>ms@novell.com</contact>
		<specification>openSUSE 10.3 LiveDVD System</specification>
	</description>
	<preferences>
		<type>iso:isoboot/suse-10.3,compressed</type>
		<!--<type>vmx:ext3:vmxboot/suse-10.3</type>-->
		<version>1.1.2</version>
		<size unit="M">2700</size>
		<packagemanager>smart</packagemanager>
		<rpm-check-signatures>False</rpm-check-signatures>
		<rpm-force>True</rpm-force>
	</preferences>
	<users group="users">
		<user name="linux" pwd="$2a$10$90AjhfXU2YIwTRrIftBauecvWXVuaNZ6JLM2IpWi0svu2kO16le9e" home="/home/linux"/>
	</users>
	<repository type="yast2">
		<!--<source path="/image/CDs/full-i386"/>-->
		<!--<source path="/mounts/machcd2/consistent/full-i386"/>-->
		<source path="opensuse://SL-OSS-factory"/>
	</repository>
	<packages type="image" patternType="onlyRequired">
		<package name="subversion"/>
		<opensusePattern name="default"/>
		<opensusePattern name="apparmor"/>
		<opensusePattern name="imaging"/>
		<opensusePattern name="kde"/>
		<opensusePattern name="kde_imaging"/>
		<ignore  name="smtp_daemon"/>
	</packages>
    <packages type="boot">
        <package name="filesystem"/> 
        <package name="glibc-locale"/>
		<package name="kernel-default"/>
        <package name="devs"/>
    </packages>
</image>
