<image name="liveDVD-suse-10.3">
	<preferences>
		<type>iso:isoboot/suse-10.3</type>
		<size unit="M">2700</size>
		<packagemanager>smart</packagemanager>
		<rpm-check-signatures>False</rpm-check-signatures>
		<rpm-force>True</rpm-force>
	</preferences>
	<users group="users">
		<user name="linux" pwd="$2a$10$90AjhfXU2YIwTRrIftBauecvWXVuaNZ6JLM2IpWi0svu2kO16le9e" home="/home/linux"/>
	</users>
	<repository type="yast2">
		<!--<source path="/image/CDs/full-i386"/>-->
		<source path="opensuse://openSUSE-stable"/>
	</repository>
	<packages type="image">
		<opensusePattern name="default"/>
		<opensusePattern name="apparmor"/>
		<opensusePattern name="imaging"/>
		<opensusePattern name="kde"/>
		<opensusePattern name="kde_imaging"/>
		<!--non existing packages on openSUSE but referenced in pattern-->
		<ignore  name="qlogic-firmware"/>
		<ignore  name="java-1_5_0-sun"/>
		<ignore  name="java-1_5_0-sun-plugin"/>
		<ignore  name="flash-player"/>
		<ignore  name="AdobeICCProfiles"/>
		<ignore  name="agfa-fonts"/>
		<ignore  name="RealPlayer"/>
		<ignore  name="smtp_daemon"/>
		<ignore  name="mcelog"/>
		<ignore  name="numactl"/>
		<ignore  name="opensuse-quickstart_en"/>
	</packages>
    <packages type="boot">
        <package name="filesystem"/> 
        <package name="glibc-locale"/>
		<package name="kernel-default"/>
        <package name="devs"/>
    </packages>
</image>
