<?xml version="1.0" encoding="utf-8"?>

<image schemaversion="6.1" name="suse-12.3-live">
	<description type="system">
		<author>Marcus Schäfer</author>
		<contact>ms@novell.com</contact>
		<specification>openSUSE 12.3 Live system for CD/DVD and USB Stick</specification>
	</description>
	<preferences>
		<type image="oem" boot="oemboot/suse-12.3" filesystem="btrfs" fsmountoptions="compress=lzo" bootfilesystem="fat16" bootloader="grub2">
			<size unit="G">3</size>
			<oemconfig>
				<oem-swapsize>512</oem-swapsize>
				<oem-swap>true</oem-swap>
				<oem-silent-boot>true</oem-silent-boot>
			</oemconfig>
			<systemdisk/>
		</type>
		<version>2.5.3</version>
		<packagemanager>zypper</packagemanager>
		<rpm-check-signatures>false</rpm-check-signatures>
		<rpm-force>true</rpm-force>
		<locale>en_US</locale>
		<keytable>us.map.gz</keytable>
	</preferences>
	<users group="root">
		<user password="$1$wYJUgpM5$RXMMeASDc035eX.NbYWFl0" home="/root" name="root"/>
	</users>
	<users group="users">
		<user password="$1$wYJUgpM5$RXMMeASDc035eX.NbYWFl0" home="/home/tux" name="tux"/>
	</users>
	<repository type="yast2">
		<source path="opensuse://12.3/repo/oss/"/>
	</repository>
	<packages type="image" patternType="plusRecommended">
		<package name="plymouth-branding-openSUSE" bootinclude="true"/>
		<package name="grub2-branding-openSUSE" bootinclude="true" bootdelete="true"/>
		<package name="kernel-default"/>
		<package name="ifplugd"/>
		<package name="plymouth"/>
		<package name="vim"/>
		<package name="yast2-firstboot"/>
		<package name="syslinux"/>
		<package name="grub2"/>
		<namedCollection name="base"/>
		<namedCollection name="kde4"/>
	</packages>
	<packages type="bootstrap">
		<package name="filesystem"/>
		<package name="glibc-locale"/>
		<package name="module-init-tools"/>
	</packages>
</image>
