<?xml version="1.0" encoding="utf-8"?>
<image schemaversion="3.8" name="suse-11.1-ec2-guest">
	<description type="system">
		<author>Marcus Schaefer</author>
		<contact>ms@novell.com</contact>
		<specification>openSUSE Amazon ec2 11.1 test system</specification>
	</description>
	<preferences>
		<type image="ec2" primary="true" ec2accountnr="12345678911" ec2privatekeyfile="Path to EC2 private key file" ec2certfile="Path to EC2 public certificate file"/>
		<type image="vmx" filesystem="ext3" boot="vmxboot/suse-11.1"><vmwareconfig memory="512">
				<vmwaredisk controller="ide" id="0"/>
			</vmwareconfig></type>
		<type image="xen" filesystem="ext3" boot="xenboot/suse-11.1"><xenconfig memory="512">
				<xendisk device="/dev/sda"/>
			</xenconfig></type>
		<version>1.1.2</version>
		<packagemanager>zypper</packagemanager>
		<rpm-check-signatures>false</rpm-check-signatures>
	</preferences>
	<users group="root">
		<user pwd="$1$wYJUgpM5$RXMMeASDc035eX.NbYWFl0" home="/root" name="root"/>
	</users>
	<repository type="yast2">
		<!--<source path="/image/CDs/full-11.1-i386"/>-->
		<source path="opensuse://11.1/repo/oss/"/>
	</repository>
	<packages type="image">
		<package name="bootsplash-branding-openSUSE" bootinclude="true" bootdelete="true"/>
		<package name="gfxboot-branding-openSUSE" bootinclude="true" bootdelete="true"/>
		<package name="kernel-default"/>
		<package name="kernel-xen"/>
		<package name="bootsplash"/>
		<package name="vim"/>
		<opensusePattern name="base"/>
	</packages>
	<packages type="xen">
		<package name="kernel-xen"/>
		<package name="xen"/>
	</packages>
	<packages type="vmware">
	</packages>
	<packages type="bootstrap">
		<package name="filesystem"/> 
		<package name="glibc-locale"/>
	</packages>
</image>
