<?xml version="1.0" encoding="utf-8"?>

<image schemaversion="4.7" name="initrd-netboot-suse-11.3">
	<description type="boot">
		<author>Marcus Schaefer</author>
		<contact>ms@novell.com</contact>
		<specification>boot/initrd image used for PXE</specification>
	</description>
	<preferences>
		<type image="cpio" bootprofile="default" bootkernel="std"/>
		<version>2.1.1</version>
		<packagemanager>zypper</packagemanager>
		<rpm-check-signatures>false</rpm-check-signatures>
	</preferences>
	<profiles>
		<profile name="default" description="Booting default profile"/>
		<profile name="diskless" description="Booting diskless thin clients"/>
		<profile name="xen" description="Booting with xen mboot.c32 setup"/>
		<profile name="std" description="KERNEL: Default"/>
		<profile name="xenk" description="KERNEL: Xen kernel/mboot.c32"/>
		<profile name="pae" description="KERNEL: pae"/>
		<profile name="desktop" description="KERNEL: Desktop kernel"/>
		<profile name="rt" description="KERNEL: RealTime kernel"/>
	</profiles>
	<drivers type="drivers" profiles="xen">
		<file name="drivers/xen/*"/>
	</drivers>
	<drivers type="drivers" profiles="default,xen">
		<file name="drivers/md/*"/>
		<file name="drivers/hid/*"/>
		<file name="drivers/input/keyboard/*"/>
		<file name="drivers/input/mouse/*"/>
		<file name="drivers/usb/*"/>
		<file name="drivers/ide/*"/>
		<file name="drivers/block/loop.ko"/>
		<file name="drivers/block/brd.ko"/>
		<file name="drivers/block/cciss.ko"/>
		<file name="net/packet/*"/>
		<file name="lib/zlib_deflate/zlib_deflate.ko"/>
		<file name="lib/libcrc32c.ko"/>
		<file name="fs/btrfs/*"/>
		<file name="fs/ext3/*"/>
		<file name="fs/ext4/*"/>
		<file name="fs/ext2/*"/>
		<file name="fs/binfmt_aout.ko"/>
		<file name="fs/binfmt_misc.ko"/>
		<file name="fs/mbcache.ko"/>
		<file name="fs/quota_v1.ko"/>
		<file name="fs/quota_v2.ko"/>
		<file name="fs/jbd/*"/>
		<file name="fs/jbd2/*"/>
		<file name="fs/fat/*"/>
		<file name="fs/vfat/*"/>
		<file name="fs/hfs/*"/>
		<file name="fs/exportfs/*"/>
		<file name="fs/squashfs/*"/>
		<file name="fs/reiserfs/*"/>
		<file name="fs/nfs/*"/>
		<file name="fs/fuse/*"/>
		<file name="net/sunrpc/*"/>
		<file name="fs/lockd/*"/>
		<file name="fs/nfs_common/*"/>
		<file name="net/ipv6/*"/>
		<file name="drivers/ata/*"/>
		<file name="drivers/scsi/*"/>
		<file name="drivers/message/fusion/*"/>
		<file name="drivers/net/*"/>
		<file name="drivers/block/nbd.ko"/>
		<file name="drivers/block/aoe/aoe.ko"/>
		<file name="drivers/parport/*"/>
		<file name="drivers/char/lp.ko"/>
		<file name="drivers/acpi/dock.ko"/>
		<file name="lib/crc-t10dif.ko"/>
		<file name="lib/crc16.ko"/>
	</drivers>
	<drivers type="drivers" profiles="diskless">
		<file name="drivers/md/*"/>
		<file name="drivers/ide/*"/>
		<file name="drivers/block/loop.ko"/>
		<file name="drivers/block/brd.ko"/>
		<file name="net/packet/*"/>
		<file name="fs/ext3/*"/>
		<file name="fs/ext2/*"/>
		<file name="fs/mbcache.ko"/>
		<file name="fs/exportfs/*"/>
		<file name="fs/squashfs/*"/>
		<file name="fs/nfs/*"/>
		<file name="fs/fuse/*"/>
		<file name="fs/lockd/*"/>
		<file name="net/sunrpc/*"/>
		<file name="fs/nfs_common/*"/>
		<file name="drivers/message/fusion/*"/>
		<file name="drivers/block/nbd.ko"/>
		<file name="drivers/block/aoe/aoe.ko"/>
		<file name="drivers/net/3c59x.ko"/>
		<file name="drivers/net/8139cp.ko"/>
		<file name="drivers/net/8139too.ko"/>
		<file name="drivers/net/8390.ko"/>
		<file name="drivers/net/atlx/atl2.ko"/>
		<file name="drivers/net/b44.ko"/>
		<file name="drivers/net/bnx2.ko"/>
		<file name="drivers/net/defxx.ko"/>
		<file name="drivers/net/dl2k.ko"/>
		<file name="drivers/net/e100.ko"/>
		<file name="drivers/net/e1000/*"/>
		<file name="drivers/net/epic100.ko"/>
		<file name="drivers/net/eql.ko"/>
		<file name="drivers/net/fealnx.ko"/>
		<file name="drivers/net/forcedeth.ko"/>
		<file name="drivers/net/hp100.ko"/>
		<file name="drivers/net/mii.ko"/>
		<file name="drivers/net/myri10ge"/>
		<file name="drivers/net/natsemi.ko"/>
		<file name="drivers/net/ne2k-pci.ko"/>
		<file name="drivers/net/netconsole.ko"/>
		<file name="drivers/net/ns83820.ko"/>
		<file name="drivers/net/pcnet32.ko"/>
		<file name="drivers/net/qla3xxx.ko"/>
		<file name="drivers/net/r8169.ko"/>
		<file name="drivers/net/s2io.ko"/>
		<file name="drivers/net/sis900.ko"/>
		<file name="drivers/net/skge.ko"/>
		<file name="drivers/net/slhc.ko"/>
		<file name="drivers/net/starfire.ko"/>
		<file name="drivers/net/sundance.ko"/>
		<file name="drivers/net/sungem.ko"/>
		<file name="drivers/net/sungem_phy.ko"/>
		<file name="drivers/net/sunhme.ko"/>
		<file name="drivers/net/tg3.ko"/>
		<file name="drivers/net/tlan.ko"/>
		<file name="drivers/net/tulip/*"/>
		<file name="drivers/net/via-rhine.ko"/>
		<file name="drivers/net/via-velocity.ko"/>
		<file name="drivers/net/yellowfin.ko"/>
	</drivers>
	<repository type="yast2" status="replaceable">
		<source path="/image/CDs/full-11.3-i386"/>
	</repository>
	<repository type="rpm-dir" status="fixed">
		<source path="/usr/share/kiwi/repo/suse-repo/suse-sle11-repo"/>
	</repository>
	<packages type="image" profiles="std">
		<package name="kernel-default"/>
	</packages>
	<packages type="image" profiles="pae">
		<package name="kernel-pae"/>
	</packages>
	<packages type="image" profiles="rt">
		<package name="kernel-rt"/>
	</packages>
	<packages type="image" profiles="xenk">
		<package name="kernel-xen"/>
	</packages>
	<packages type="image" profiles="desktop">
		<package name="kernel-desktop"/>
	</packages>
	<packages type="image" profiles="xen">
		<package name="xen"/>
	</packages>
	<packages type="image" profiles="default,xen">
		<package name="adaptec-firmware"/>
		<package name="clicfs"/>
		<package name="curl"/>
		<package name="psmisc"/>
		<package name="iputils"/>
		<package name="atftp"/>
		<package name="busybox"/>
		<package name="bind-libs"/>
		<package name="bind-utils"/>
		<package name="dhcpcd"/>
		<package name="e2fsprogs"/>
		<package name="btrfsprogs"/>
		<package name="file"/>
		<package name="hwinfo"/>
		<package name="module-init-tools"/>
		<package name="net-tools"/>
		<package name="netcfg"/>
		<package name="parted"/>
		<package name="reiserfs"/>
		<package name="util-linux"/>
		<package name="diffutils"/>
		<package name="procps"/>
		<package name="lvm2"/>
		<package name="fribidi"/>
		<package name="make"/>
		<package name="nbd"/>
		<package name="nfs-client"/>
		<package name="bootsplash"/>
		<package name="tar"/>
		<package name="kiwi-tools"/>
		<package name="cyrus-sasl"/>
	</packages>
	<packages type="image" profiles="diskless">
		<package name="clicfs"/>
		<package name="iputils"/>
		<package name="atftp"/>
		<package name="busybox"/>
		<package name="dhcpcd"/>
		<package name="file"/>
		<package name="hwinfo"/>
		<package name="module-init-tools"/>
		<package name="net-tools"/>
		<package name="netcfg"/>
		<package name="util-linux"/>
		<package name="diffutils"/>
		<package name="procps"/>
		<package name="fribidi"/>
		<package name="nbd"/>
		<package name="nfs-client"/>
		<package name="tar"/>
		<package name="bootsplash"/>
		<package name="kiwi-tools"/>
		<package name="cyrus-sasl"/>
	</packages>
	<packages type="bootstrap">
		<package name="filesystem"/>
		<package name="glibc"/>
		<package name="glibc-locale"/>
	</packages>
	<packages type="delete" profiles="default,diskless,xen">
		<package name="cracklib-dict-small"/>
		<package name="cracklib-dict-full"/>
		<package name="PolicyKit"/>
		<package name="audit-libs"/>
		<package name="blocxx"/>
		<package name="cpio"/>
		<package name="db"/>
		<package name="diffutils"/>
		<package name="expat"/>
		<package name="fillup"/>
		<package name="gawk"/>
		<package name="gdbm"/>
		<package name="glib2"/>
		<package name="glibc-locale"/>
		<package name="gnome-filesystem"/>
		<package name="gpg"/>
		<package name="info"/>
		<package name="insserv"/>
		<package name="iproute2"/>
		<package name="irqbalance"/>
		<package name="limal"/>
		<package name="limal-bootloader"/>
		<package name="limal-perl"/>
		<package name="logrotate"/>
		<package name="mdadm"/>
		<package name="mingetty"/>
		<package name="openSUSE-release"/>
		<package name="openldap2-client"/>
		<package name="openslp"/>
		<package name="pam"/>
		<package name="pam-modules"/>
		<package name="pcre"/>
		<package name="perl"/>
		<package name="perl-Bootloader"/>
		<package name="perl-gettext"/>
		<package name="permissions"/>
		<package name="pm-utils"/>
		<package name="pmtools"/>
		<package name="suse-build-key"/>
		<package name="fribidi"/>
		<package name="make"/>
	</packages>
	<packages type="delete" profiles="diskless">
		<package name="cracklib-dict-small"/>
		<package name="cracklib-dict-full"/>
		<package name="xorg-x11-libxcb"/>
		<package name="xorg-x11-libX11"/>
		<package name="xorg-x11-libXau"/>
		<package name="openldap2-client"/>
		<package name="pam-modules"/>
		<package name="openslp"/>
		<package name="perl-HTML-Tagset"/>
		<package name="perl"/>
		<package name="perl-gettext"/>
		<package name="setserial"/>
		<package name="bundle-lang-common-zh"/>
		<package name="make"/>
		<package name="pciutils"/>
		<package name="krb5"/>
		<package name="openldap2-client"/>
		<package name="pam-modules"/>
		<package name="pam-config"/>
		<package name="PolicyKit"/>
	</packages>
</image>
