<image name="initrd-isoboot">
	<preferences>
		<type>ext2</type>
		<size unit="M">60</size>
		<compressed>yes</compressed>
	</preferences>
	<drivers type="netdrivers">
		<file name="pcnet32.ko"/>
		<file name="mii.ko"/>
		<file name="tulip/tulip.ko"/>
		<file name="eepro100.ko"/>
		<file name="e100.ko"/>
		<file name="8139too.ko"/>
	</drivers>
	<drivers type="drivers">
		<file name="drivers/ide/*"/>
		<file name="net/packet/*"/>
		<file name="fs/ext3/*"/>
		<file name="fs/jbd/*"/>
		<file name="fs/fat/*"/>
		<file name="fs/vfat/*"/>
		<file name="fs/reiserfs/*"/>
		<file name="net/ipv6/*"/>
		<file name="drivers/scsi/sd_mod.ko"/>
		<file name="drivers/scsi/scsi_mod.ko"/>
	</drivers>
	<repository type="yast2">
		<source path="opensuse://SL-10.1"/>
	</repository>
	<packages type="image">
		<package name="filesystem"/>
		<package name="lvm2"/>
		<package name="reiserfs"/>
		<package name="info"/>
		<package name="sysconfig"/>
		<package name="libzio"/>
		<package name="iproute2"/>
		<package name="gdbm"/>
		<package name="gawk"/>
		<package name="sysfsutils"/>
		<package name="devs"/>
		<package name="dhcpcd"/>
		<package name="glibc"/>
		<package name="mktemp"/>
		<package name="libgcc"/>
		<package name="coreutils"/>
		<package name="module-init-tools"/>
		<package name="bind-utils"/>
		<package name="libcom_err"/>
		<package name="e2fsprogs"/>
		<package name="ncurses"/>
		<package name="readline"/>
		<package name="zlib"/>
		<package name="bzip2"/>
		<package name="bash"/>
		<package name="pciutils"/>
		<package name="libattr"/>
		<package name="libacl"/>
		<package name="tcpd"/>
		<package name="pam"/>
		<package name="db"/>
		<package name="cracklib"/>
		<package name="libstdc++"/>
		<package name="file"/>
		<package name="atftp"/>
		<package name="fillup"/>
		<package name="insserv"/>
		<package name="net-tools"/>
		<package name="sed"/>
		<package name="findutils"/>
		<package name="grep"/>
		<package name="gzip"/>
		<package name="permissions"/>
		<package name="bind-libs"/>
		<package name="openssl"/>
		<package name="util-linux"/>
		<package name="hwinfo"/>
		<package name="netcfg"/>
	</packages>
	<packages type="boot">
		<package name="filesystem"/>
		<package name="glibc"/>
		<package name="glibc-locale"/>
		<package name="devs"/>
		<package name="rpm"/>
		<package name="smart"/>
	</packages>
</image>
