body {
  margin: 0;
  font-family: 'Droid Sans', sans-serif;
  font-size: 13px;
  line-height: 160%;
}

h1 {
  font-size: 150%;
  color: #444;
  margin-top: 2em;
}

hr {
  border: 1px solid #eee;
  width: 10%;
  margin: 3em auto;
}

table tr {
  vertical-align: top;
}

a {
  color:#005ED8;
  cursor:pointer;
  text-decoration:none;
}
  a:hover {
    color: #F57900;
    text-decoration: underline;
  }


.container {
  width: 960px;
  margin: auto;
  position: relative;
  padding: 0 15px;
}

.files {}

  .files dl {
    display: table;
    table-layout: fixed;
    width: 100%;
    font-size: 80%;
  }
  
  .files .row {
    display: table-row;
  }
  
  .files dt {
    display: table-cell;
    font-weight: bold;
    color: #888;
    width: 60%;
  } 
  
  .files dd {
    display: table-cell;
    padding-left: 1em;
    white-space: nowrap;
  }

  .files dd:last-child {
    text-align: right;
  }

  .files .directory {
    color: #2531d4;
  }

  .files .link {
    color: #1e911b;
  }

.footer {
  margin: 3em auto;
  font-size: 80%;
  color: #888;
  letter-spacing .4em;
}

#search {
  font-size: 160%;
  width: 90%;
  border: 2px solid #888;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 4px;
  }
  
  #search:focus {
    border: 2px solid #005ED8;
    outline: none;
  }

.message {
  font-size: 160%;
  width: 50%;
  padding: 2em;
  text-align: center;
  border: 2px solid #eee;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
}

  .loading {
    display: inline-block;
    width: 16px; height: 16px;
    background: url(img/spinner.gif) no-repeat 0 0;
    margin-left: 10px;
  }

