<?xml version="1.0"?>
<image schemaversion="3.5" name="initrd-oemboot-suse-10.3">
	<description type="boot">
		<author>Marcus Schaefer</author>
		<contact>ms@novell.com</contact>
		<specification>boot/initrd image used on OEM VMX disk</specification>
	</description>
	<preferences>
		<type bootprofile="default" bootkernel="std">cpio</type>
		<version>2.7.1</version>
		<size unit="M">60</size>
		
		<packagemanager>smart</packagemanager>
		<rpm-check-signatures>False</rpm-check-signatures>
	</preferences>
	<profiles>
		<profile name="default" description="Boot with default kernel"/>
		<profile name="xen" description="Boot with xen kernel/mboot.c32"/>
		<profile name="std" description="KERNEL: Default"/>
		<profile name="nex" description="KERNEL: Xen kernel/mboot.c32"/>
		<profile name="smp" description="KERNEL: bigsmp kernel"/>
	</profiles>
	<drivers type="usbdrivers">
		<file name="usb/host/ehci-hcd.ko"/>
		<file name="usb/host/uhci-hcd.ko"/>
		<file name="usb/core/usbcore.ko"/>
		<file name="usb/storage/usb-storage.ko"/>
	</drivers>
	<drivers type="drivers">
		<file name="crypto/*"/>
		<file name="drivers/md/*"/>
		<file name="drivers/block/loop.ko"/>
		<file name="drivers/hid/*"/>
		<file name="drivers/ide/*"/>
		<file name="fs/ext3/*"/>
		<file name="fs/ext2/*"/>
		<file name="fs/fat/*"/>
		<file name="fs/vfat/*"/>
		<file name="fs/binfmt_aout.ko"/>
		<file name="fs/binfmt_misc.ko"/>
		<file name="fs/mbcache.ko"/>
		<file name="fs/quota_v1.ko"/>
		<file name="fs/quota_v2.ko"/>
		<file name="fs/jbd/*"/>
		<file name="fs/hfs/*"/>
		<file name="fs/exportfs/*"/>
		<file name="fs/squashfs/*"/>
		<file name="fs/aufs.ko"/>
		<file name="updates/aufs.ko"/>
		<file name="weak-updates/aufs.ko"/>
		<file name="fs/udf/*"/>
		<file name="fs/nls/nls_utf8.ko"/>
		<file name="fs/nls/nls_cp437.ko"/>
		<file name="fs/nls/nls_iso8859-1.ko"/>
		<file name="drivers/ata/*"/>
		<file name="drivers/scsi/*"/>
		<file name="drivers/message/fusion/*"/>
		<file name="drivers/cdrom/*"/>
		<file name="drivers/parport/*"/>
		<file name="drivers/char/lp.ko"/>
		<file name="drivers/firmware/edd.ko"/>
	</drivers>
	<drivers type="drivers" profiles="xen">
		<file name="drivers/xen/*"/>
	</drivers>
	<repository type="yast2" status="replaceable">
        <source path="/image/CDs/full-10.3-i386"/>
	</repository>
	<packages type="image" profiles="std">
		<package name="kernel-default"/>
		<package name="aufs-kmp-default"/>
	</packages>
	<packages type="image" profiles="smp">
		<package name="kernel-bigsmp"/>
		<package name="aufs-kmp-bigsmp"/>
	</packages>
	<packages type="image" profiles="nex">
		<package name="kernel-xen"/>
		<package name="aufs-kmp-xen"/>
		<package name="xen"/>
	</packages>
	<packages type="image">
		<package name="dialog"/>
		<package name="psmisc"/>
		<package name="bind-libs"/>
		<package name="bind-utils"/>
		<package name="dhcpcd"/>
		<package name="e2fsprogs"/>
		<package name="file"/>
		<package name="hwinfo"/>
		<package name="module-init-tools"/>
		<package name="net-tools"/>
		<package name="netcfg"/>
		<package name="pciutils"/>
		<package name="sysconfig"/>
		<package name="sysfsutils"/>
		<package name="util-linux"/>
		<package name="grub"/>
		<package name="squashfs"/>
		<package name="aufs"/>
		<package name="gfxboot"/>
		<package name="fribidi"/>
		<package name="make"/>
		<package name="bootsplash"/>
		<package name="eject"/>
		<package name="tar"/>
		<package name="lvm2"/>
		<package name="bzip2"/>
		<package name="cryptsetup"/>
	</packages>
	<packages type="bootstrap">
		<package name="filesystem"/>
		<package name="glibc"/>
		<package name="glibc-locale"/>
		<package name="diffutils"/>
		<package name="procps"/>
	</packages>
	<packages type="delete">
		<package name="cracklib-dict-small"/>
		<package name="cracklib-dict-full"/>
		<package name="PolicyKit"/>
		<package name="audit-libs"/>
		<package name="blocxx"/>
		<package name="cpio"/>
		<package name="cyrus-sasl"/>
		<package name="db"/>
		<package name="expat"/>
		<package name="fillup"/>
		<package name="gdbm"/>
		<package name="glib2"/>
		<package name="glibc-locale"/>
		<package name="gnome-filesystem"/>
		<package name="gpg"/>
		<package name="info"/>
		<package name="insserv"/>
		<package name="iproute2"/>
		<package name="irqbalance"/>
		<package name="libxcrypt"/>
		<package name="libxml2"/>
		<package name="libzio"/>
		<package name="limal"/>
		<package name="limal-bootloader"/>
		<package name="limal-perl"/>
		<package name="logrotate"/>
		<package name="mdadm"/>
		<package name="mingetty"/>
		<package name="openSUSE-release"/>
		<package name="openldap2-client"/>
		<package name="openslp"/>
		<package name="pam"/>
		<package name="pam-modules"/>
		<package name="pcre"/>
		<package name="perl"/>
		<package name="perl-Bootloader"/>
		<package name="perl-gettext"/>
		<package name="permissions"/>
		<package name="pm-utils"/>
		<package name="pmtools"/>
		<package name="resmgr"/>
		<package name="suse-build-key"/>
		<package name="gfxboot"/>
		<package name="fribidi"/>
		<package name="make"/>
	</packages>
</image>
