<?xml version="1.0" encoding="utf-8"?>

<image schemaversion="4.7" name="suse-11.2-live-stick">
	<description type="system">
		<author>Marcus Schäfer</author>
		<contact>ms@novell.com</contact>
		<specification>openSUSE 11.2 live stick system 1GB</specification>
	</description>
	<preferences>
		<type image="usb" filesystem="clicfs" boot="usbboot/suse-11.2"/>
		<type image="oem" filesystem="clicfs" boot="oemboot/suse-11.2">
			<oemconfig>
				<oem-swap>false</oem-swap>
				<oem-kiwi-initrd>true</oem-kiwi-initrd>
				<oem-boot-title>USB</oem-boot-title>
			</oemconfig>
		</type>
		<type image="vmx" filesystem="clicfs" boot="vmxboot/suse-11.2"/>
		<version>1.1.2</version>
		<packagemanager>zypper</packagemanager>
		<rpm-check-signatures>false</rpm-check-signatures>
		<rpm-force>true</rpm-force>
		<rpm-excludedocs>true</rpm-excludedocs>
		<locale>en_US</locale>
		<keytable>us.map.gz</keytable>
		<timezone>Europe/Berlin</timezone>
	</preferences>
	<users group="users">
		<user pwd="$1$wYJUgpM5$RXMMeASDc035eX.NbYWFl0" home="/home/tux" name="tux"/>
	</users>
	<users group="root">
		<user pwd="$1$wYJUgpM5$RXMMeASDc035eX.NbYWFl0" home="/root" name="root"/>
	</users>
	<repository type="yast2">
		<source path="opensuse://11.2/repo/oss/"/>
	</repository>
	<packages type="image" patternType="plusRecommended">
		<package name="bootsplash-branding-openSUSE" bootinclude="true" bootdelete="true"/>
		<package name="gfxboot-branding-openSUSE" bootinclude="true" bootdelete="true"/>
		<package name="kernel-default"/>
		<package name="yast2-firstboot"/>
		<package name="ifplugd"/>
		<package name="vim"/>
		<opensusePattern name="base"/>
		<opensusePattern name="kde4"/>
	</packages>
	<packages type="bootstrap">
		<package name="filesystem"/>
		<package name="glibc-locale"/>
	</packages>
	<packages type="delete">
		<package name="MozillaFirefox"/>
		<package name="OpenOffice_org-branding-openSUSE"/>
		<package name="OpenOffice_org-templates-labels-a4"/>
		<package name="OpenOffice_org-calc"/>
		<package name="OpenOffice_org-thesaurus-en"/>
		<package name="OpenOffice_org-pyuno"/>
		<package name="OpenOffice_org-templates-presentation-layouts"/>
		<package name="OpenOffice_org-icon-themes"/>
		<package name="OpenOffice_org-writer"/>
		<package name="OpenOffice_org-impress"/>
		<package name="OpenOffice_org-Quickstarter"/>
		<package name="OpenOffice_org-filters"/>
		<package name="OpenOffice_org-templates-labels-letter"/>
		<package name="OpenOffice_org-kde"/>
		<package name="OpenOffice_org-base"/>
		<package name="OpenOffice_org-mailmerge"/>
		<package name="OpenOffice_org-hyphen"/>
		<package name="OpenOffice_org-math"/>
		<package name="OpenOffice_org-templates-en"/>
		<package name="OpenOffice_org"/>
		<package name="OpenOffice_org-draw"/>
		<package name="OpenOffice_org-ure"/>
		<package name="OpenOffice_org-l10n-extras"/>
		<package name="OpenOffice_org-writer-extensions"/>
		<package name="OpenOffice_org-components"/>
		<package name="OpenOffice_org-base-extensions"/>
		<package name="OpenOffice_org-filters-optional"/>
		<package name="OpenOffice_org-converter"/>
		<package name="OpenOffice_org-libs-extern"/>
		<package name="OpenOffice_org-libs-gui"/>
		<package name="OpenOffice_org-libs-core"/>
		<package name="OpenOffice_org-draw-extensions"/>
		<package name="OpenOffice_org-calc-extensions"/>
		<package name="OpenOffice_org-help-en-US"/>
		<package name="OpenOffice_org-impress-extensions"/>
		<package name="kdegames4-carddecks-other"/>
		<package name="kdegames4-carddecks-default"/>
		<package name="libkdegames4"/>
		<package name="kde4-ksudoku"/>
		<package name="kde4-kreversi"/>
		<package name="kde4-kpat"/>
		<package name="kde4-kmines"/>
		<package name="kde4-kmahjongg"/>
		<package name="koffice"/>
		<package name="koffice-illustration"/>
		<package name="MozillaFirefox-branding-openSUSE"/>
	</packages>
</image>
