<?xml version="1.0"?>
<image schemeversion="3.5" name="initrd-xenboot-suse-11.1">
	<description type="boot">
		<author>Marcus Schaefer</author>
		<contact>ms@novell.com</contact>
		<specification>boot/initrd image for Xen VM systems</specification>
	</description>
	<preferences>
		<type bootprofile="default" bootkernel="std">cpio</type>
		<version>2.1.1</version>
		<size unit="M">60</size>
		
		<packagemanager>zypper</packagemanager>
		<rpm-check-signatures>False</rpm-check-signatures>
	</preferences>
	<profiles>
		<profile name="default" description="Boot with xen kernel"/>
		<profile name="std" description="KERNEL: Xen"/>
	</profiles>
	<drivers type="drivers">
		<file name="drivers/ide/*"/>
		<file name="drivers/block/loop.ko"/>
		<file name="fs/ext3/*"/>
		<file name="fs/ext2/*"/>
		<file name="fs/binfmt_aout.ko"/>
		<file name="fs/binfmt_misc.ko"/>
		<file name="fs/mbcache.ko"/>
		<file name="fs/quota_v1.ko"/>
		<file name="fs/quota_v2.ko"/>
		<file name="fs/jbd/*"/>
		<file name="drivers/xen/*"/>
		<file name="drivers/ata/*"/>
		<file name="drivers/acpi/dock.ko"/>
	</drivers>
	<repository type="yast2" status="replaceable">
		<source path="/image/CDs/full-i386"/>
	</repository>
	<packages type="image">
		<package name="psmisc"/>
		<package name="e2fsprogs"/>
		<package name="file"/>
		<package name="module-init-tools"/>
		<package name="pciutils"/>
		<package name="reiserfs"/>
		<package name="sysconfig"/>
		<package name="sysfsutils"/>
		<package name="util-linux"/>
		<package name="hwinfo"/>
		<package name="xen"/>
		<package name="fribidi"/>
		<package name="make"/>
		<package name="bootsplash"/>
	</packages>
	<packages type="bootstrap" profiles="std">
		<package name="kernel-xen"/>
		<package name="kernel-xen-base"/>
		<package name="kernel-xen-extra"/>
	</packages>
	<packages type="bootstrap">
		<package name="filesystem"/>
		<package name="glibc"/>
		<package name="glibc-locale"/>
	</packages>
	<packages type="delete">
		<package name="cracklib-dict-small"/>
		<package name="cracklib-dict-full"/>
		<package name="PolicyKit"/>
		<package name="audit-libs"/>
		<package name="blocxx"/>
		<package name="cpio"/>
		<package name="cyrus-sasl"/>
		<package name="db"/>
		<package name="diffutils"/>
		<package name="expat"/>
		<package name="fillup"/>
		<package name="gawk"/>
		<package name="gdbm"/>
		<package name="glib2"/>
		<package name="glibc-locale"/>
		<package name="gnome-filesystem"/>
		<package name="gpg"/>
		<package name="info"/>
		<package name="insserv"/>
		<package name="iproute2"/>
		<package name="irqbalance"/>
		<package name="libxcrypt"/>
		<package name="libxml2"/>
		<package name="libzio"/>
		<package name="limal"/>
		<package name="limal-bootloader"/>
		<package name="limal-perl"/>
		<package name="logrotate"/>
		<package name="mdadm"/>
		<package name="mingetty"/>
		<package name="openSUSE-release"/>
		<package name="openldap2-client"/>
		<package name="openslp"/>
		<package name="pam"/>
		<package name="pam-modules"/>
		<package name="pcre"/>
		<package name="perl"/>
		<package name="perl-Bootloader"/>
		<package name="perl-gettext"/>
		<package name="permissions"/>
		<package name="pm-utils"/>
		<package name="pmtools"/>
		<package name="suse-build-key"/>
		<package name="fribidi"/>
		<package name="make"/>
	</packages>
</image>
