<?xml version="1.0" encoding="utf-8"?>

<image schemaversion="5.6" name="suse-11.4-vm-guest">
	<description type="system">
		<author>Marcus Schäfer</author>
		<contact>ms@novell.com</contact>
		<specification>openSUSE 11.4 virtual disk system</specification>
	</description>
	<preferences>
		<type image="vmx" primary="true" filesystem="ext4" boot="vmxboot/suse-11.4" format="vmdk">
			<machine memory="512">
				<vmdisk controller="ide" id="0"/>
			</machine>
		</type>
		<version>1.1.2</version>
		<packagemanager>zypper</packagemanager>
		<rpm-check-signatures>false</rpm-check-signatures>
		<rpm-force>true</rpm-force>
		<locale>en_US</locale>
		<keytable>us.map.gz</keytable>
	</preferences>
	<users group="root">
		<user password="$1$wYJUgpM5$RXMMeASDc035eX.NbYWFl0" home="/root" name="root"/>
	</users>
	<repository type="yast2">
		<source path="opensuse://11.4/repo/oss/"/>
	</repository>
	<packages type="image">
		<package name="bootsplash-branding-openSUSE" bootinclude="true" bootdelete="true"/>
		<package name="gfxboot-branding-openSUSE" bootinclude="true" bootdelete="true"/>
		<package name="kernel-default"/>
		<package name="ifplugd"/>
		<package name="vim"/>
		<opensusePattern name="base"/>
	</packages>
	<packages type="vmx"/>
	<packages type="bootstrap">
		<package name="filesystem"/>
		<package name="glibc-locale"/>
	</packages>
</image>
