<?xml version="1.0" encoding="utf-8"?>
<image schemaversion="3.8" name="initrd-isoboot-suse-SLES10">
	<description type="boot">
		<author>Marcus Schaefer</author>
		<contact>ms@novell.com</contact>
		<specification>boot/initrd image used for LiveDVD media</specification>
	</description>
	<preferences>
		<type bootprofile="default" bootkernel="std">cpio</type>
		<version>2.1.1</version>
		<size unit="M">60</size>
		
		<packagemanager>smart</packagemanager>
		<rpm-check-signatures>false</rpm-check-signatures>
	</preferences>
	<profiles>
		<profile name="default" description="Boot with default kernel"/>
		<profile name="std" description="KERNEL: Default"/>
		<profile name="smp" description="KERNEL: smp kernel"/>
	</profiles>
	<drivers type="usbdrivers">
		<file name="usb/host/*"/>
		<file name="usb/core/usbcore.ko"/>
		<file name="usb/storage/usb-storage.ko"/>
		<file name="usb/input/usbhid.ko"/>
	</drivers>
	<drivers type="drivers">
		<file name="drivers/md/*"/>
		<file name="drivers/ide/*"/>
		<file name="drivers/block/loop.ko"/>
		<file name="fs/ext3/*"/>
		<file name="fs/ext2/*"/>
		<file name="fs/fat/*"/>
		<file name="fs/vfat/*"/>
		<file name="fs/binfmt_aout.ko"/>
		<file name="fs/binfmt_misc.ko"/>
		<file name="fs/mbcache.ko"/>
		<file name="fs/quota_v1.ko"/>
		<file name="fs/quota_v2.ko"/>
		<file name="fs/jbd/*"/>
		<file name="fs/reiserfs/*"/>
		<file name="fs/nls/nls_utf8.ko"/>
		<file name="fs/nls/nls_cp437.ko"/>
		<file name="fs/nls/nls_iso8859-1.ko"/>
		<file name="drivers/ata/*"/>
		<file name="drivers/ieee1394/*"/>
		<file name="drivers/cdrom/*"/>
		<file name="drivers/scsi/*"/>
		<file name="drivers/message/fusion/*"/>
		<file name="drivers/firmware/edd.ko"/>
	</drivers>
	<repository type="yast2" status="replaceable">
		<source path="/mounts/machcd2/dists/full-sle10-sp2-%arch"/>
	</repository>
	<repository type="rpm-dir" status="fixed">
		<source path="/usr/share/kiwi/repo/suse-repo/suse-sle10-repo"/>
	</repository>
	<packages type="image" profiles="std">
		<package name="kernel-default"/>
	</packages>
	<packages type="image" profiles="smp">
		<package name="kernel-smp"/>
	</packages>
	<packages type="image">
		<package name="psmisc"/>
		<package name="bind-libs"/>
		<package name="bind-utils"/>
		<package name="dhcpcd"/>
		<package name="e2fsprogs"/>
		<package name="file"/>
		<package name="gawk"/>
		<package name="hwinfo"/>
		<package name="iproute2"/>
		<package name="lvm2"/>
		<package name="module-init-tools"/>
		<package name="net-tools"/>
		<package name="netcfg"/>
		<package name="pciutils"/>
		<package name="reiserfs"/>
		<package name="sysconfig"/>
		<package name="sysfsutils"/>
		<package name="tcpd"/>
		<package name="util-linux"/>
		<package name="gfxboot"/>
		<package name="syslinux"/>
		<package name="make"/>
		<package name="memtest86"/>
		<package name="hdparm"/>
		<package name="grub"/>
		<package name="bootsplash"/>
		<package name="tar"/>
		<package name="checkmedia"/>
	</packages>
	<packages type="bootstrap">
		<package name="filesystem"/>
		<package name="glibc"/>
		<package name="glibc-locale"/>
		<package name="openssl"/>
	</packages>
	<packages type="delete">
		<package name="cracklib-dict-small"/>
		<package name="cracklib-dict-full"/>
		<package name="perl"/>
		<package name="glibc-locale"/>
		<package name="man"/>
		<package name="info"/>
		<package name="smart"/>
		<package name="python"/>
		<package name="python-xml"/>
		<package name="python-elementtree"/>
		<package name="perl-gettext"/>
		<package name="perl-Bootloader"/>
		<package name="pam-modules"/>
		<package name="gawk"/>
		<package name="gnome-filesystem"/>
		<package name="openslp"/>
		<package name="rpm-python"/>
		<package name="suse-build-key"/>
		<package name="permissions"/>
		<package name="fillup"/>
		<package name="pam"/>
		<package name="expat"/>
		<package name="suse-release"/>
		<package name="libxml2"/>
		<package name="openldap2-client"/>
		<package name="logrotate"/>
		<package name="diffutils"/>
		<package name="cpio"/>
		<package name="insserv"/>
		<package name="ash"/>
		<package name="gdbm"/>
		<package name="syslinux"/>
		<package name="gfxboot"/>
		<package name="make"/>
		<package name="memtest86"/>
	</packages>
</image>
