<?xml version="1.0" encoding="utf-8"?>

<image schemaversion="5.7" name="initrd-isoboot-suse-SLES10">
	<description type="boot">
		<author>Marcus Schaefer</author>
		<contact>ms@novell.com</contact>
		<specification>boot/initrd image used for LiveDVD media</specification>
	</description>
	<preferences>
		<type image="cpio" bootprofile="default" bootkernel="std"/>
		<version>2.1.1</version>
		<packagemanager>smart</packagemanager>
		<rpm-check-signatures>false</rpm-check-signatures>
	</preferences>
	<profiles>
		<profile name="default" description="Boot with default kernel"/>
		<profile name="std" description="KERNEL: Default"/>
		<profile name="smp" description="KERNEL: smp kernel"/>
	</profiles>
	<drivers>
		<file name="crypto/*"/>
		<file name="drivers/usb/core/usbcore.ko"/>
		<file name="drivers/usb/host/*"/>
		<file name="drivers/usb/input/usbhid.ko"/>
		<file name="drivers/usb/storage/usb-storage.ko"/>
		<file name="drivers/ata/*"/>
		<file name="drivers/block/loop.ko"/>
		<file name="drivers/cdrom/*"/>
		<file name="drivers/firmware/edd.ko"/>
		<file name="drivers/ide/*"/>
		<file name="drivers/ieee1394/*"/>
		<file name="drivers/md/*"/>
		<file name="drivers/message/fusion/*"/>
		<file name="drivers/scsi/*"/>
		<file name="drivers/block/virtio_blk.ko"/>
		<file name="drivers/virtio/*"/>
		<file name="fs/binfmt_aout.ko"/>
		<file name="fs/binfmt_misc.ko"/>
		<file name="fs/ext2/*"/>
		<file name="fs/ext3/*"/>
		<file name="fs/fat/*"/>
		<file name="fs/jbd/*"/>
		<file name="fs/mbcache.ko"/>
		<file name="fs/nls/nls_cp437.ko"/>
		<file name="fs/nls/nls_iso8859-1.ko"/>
		<file name="fs/nls/nls_utf8.ko"/>
		<file name="fs/quota_v1.ko"/>
		<file name="fs/quota_v2.ko"/>
		<file name="fs/reiserfs/*"/>
		<file name="fs/squashfs.ko"/>
		<file name="fs/vfat/*"/>
	</drivers>
	<repository type="rpm-md" status="replaceable">
		<source path="obs://SUSE:SLE-10-SP2:GA/standard"/>
	</repository>
	<packages type="bootstrap" profiles="std">
		<package name="kernel-default"/>
	</packages>
	<packages type="bootstrap" profiles="smp">
		<package name="kernel-smp"/>
	</packages>
	<packages type="bootstrap">
		<package name="adaptec-firmware"/>
		<package name="bind-libs"/>
		<package name="bind-utils"/>
		<package name="bootsplash"/>
		<package name="checkmedia"/>
		<package name="dhcpcd"/>
		<package name="e2fsprogs"/>
		<package name="file"/>
		<package name="filesystem"/>
		<package name="gawk"/>
		<package name="gfxboot"/>
		<package name="glibc"/>
		<package name="glibc-locale"/>
		<package name="grub"/>
		<package name="hdparm"/>
		<package name="hwinfo"/>
		<package name="iproute2"/>
		<package name="lvm2"/>
		<package name="make"/>
		<package name="memtest86+"/>
		<package name="module-init-tools"/>
		<package name="mkisofs"/>
		<package name="net-tools"/>
		<package name="netcfg"/>
		<package name="openssl"/>
		<package name="parted"/>
		<package name="pciutils"/>
		<package name="psmisc"/>
		<package name="reiserfs"/>
		<package name="sysconfig"/>
		<package name="sysfsutils"/>
		<package name="syslinux"/>
		<package name="tar"/>
		<package name="tcpd"/>
		<package name="util-linux"/>
	</packages>
	<packages type="delete">
		<package name="ash"/>
		<package name="cracklib-dict-full"/>
		<package name="cracklib-dict-small"/>
		<package name="diffutils"/>
		<package name="expat"/>
		<package name="fillup"/>
		<package name="gawk"/>
		<package name="gdbm"/>
		<package name="gfxboot"/>
		<package name="glibc-locale"/>
		<package name="gnome-filesystem"/>
		<package name="info"/>
		<package name="insserv"/>
		<package name="iptables"/>
		<package name="libxml2"/>
		<package name="licenses"/>
		<package name="logrotate"/>
		<package name="make"/>
		<package name="man"/>
		<package name="memtest86+"/>
		<package name="openldap2-client"/>
		<package name="openslp"/>
		<package name="pam"/>
		<package name="pam-modules"/>
		<package name="perl"/>
		<package name="perl-Bootloader"/>
		<package name="perl-gettext"/>
		<package name="permissions"/>
		<package name="python"/>
		<package name="python-elementtree"/>
		<package name="python-xml"/>
		<package name="rpm-python"/>
		<package name="smart"/>
		<package name="suse-build-key"/>
		<package name="suse-release"/>
		<package name="syslinux"/>
	</packages>
</image>
