<?xml version="1.0" encoding="utf-8"?>

<image schemaversion="6.1" name="suse-12.3-SUSENebula-guest">
	<description type="system">
		<author>Robert Schweikert</author>
		<contact>rjschwei@suse.com</contact>
		<specification>openSUSE 12.3 virtual disk system</specification>
	</description>
	<preferences>
		<type image="vmx" primary="true" filesystem="ext4" boot="vmxboot/suse-12.3" format="qcow2" bootloader="grub2"/>
		<version>1.0.0</version>
		<packagemanager>zypper</packagemanager>
		<rpm-check-signatures>false</rpm-check-signatures>
		<rpm-force>true</rpm-force>
		<locale>en_US</locale>
		<keytable>us.map.gz</keytable>
		<bootsplash-theme>openSUSE</bootsplash-theme>
		<bootloader-theme>openSUSE</bootloader-theme>
	</preferences>
	<users group="root">
		<user password="$1$wYJUgpM5$RXMMeASDc035eX.NbYWFl0" home="/root" name="root"/>
	</users>
	<repository type="yast2">
		<source path="opensuse://12.3/repo/oss/"/>
	</repository>
	<packages type="image">
		<package name="grub2"/>
		<package name="grub2-branding-openSUSE" bootinclude="true"/>
		<package name="kernel-default"/>
		<package name="ifplugd"/>
		<package name="iputils"/>
		<package name="plymouth"/>
		<package name="plymouth-branding-openSUSE" bootinclude="true"/>
		<package name="splashy"/>
		<package name="splashy-branding-openSUSE" bootinclude="true"/>
		<package name="vim"/>
		<namedCollection name="base"/>
	</packages>
	<packages type="bootstrap">
		<package name="filesystem"/>
		<package name="glibc-locale"/>
		<package name="module-init-tools"/>
	</packages>
</image>
