<directory>
	<!-- The image tag is used for setting up the image -->
    <image name="buildhost-10.1"/>
    <image type="reiserfs"/>
	<image size="570M"/>
	<image compressed="yes"/>
	<!-- The type tag defines the smart channel type -->
    <entry type="yast2"/>
	<!-- The source tag defines the smart channel -->
	<entry source="http://download.opensuse.org/distribution/SL-10.1/inst-source"/>
	<!-- The following list builds the image package set -->
    <entry name="OpenIPMI"/>
	<entry name="lvm2"/>
    <entry name="SuSEfirewall2"/>
    <entry name="aaa_base"/>
    <entry name="aaa_skel"/>
    <entry name="acl"/>
    <entry name="acpid"/>
    <entry name="attr"/>
    <entry name="bash"/>
    <entry name="bc"/>
    <entry name="bind-libs"/>
    <entry name="binutils"/>
    <entry name="bootcycle"/>
    <entry name="bridge-utils"/>
    <entry name="build"/>
    <entry name="bzip2"/>
    <entry name="coreutils"/>
    <entry name="cpio"/>
    <entry name="cpufrequtils"/>
    <entry name="cracklib"/>
    <entry name="db"/>
    <entry name="device-mapper"/>
    <entry name="dhcpcd"/>
    <entry name="diffutils"/>
    <entry name="e2fsprogs"/>
    <entry name="file"/>
    <entry name="filesystem"/>
    <entry name="fillup"/>
    <entry name="findutils"/>
    <entry name="gawk"/>
    <entry name="glibc"/>
    <entry name="gpg"/>
    <entry name="grep"/>
    <entry name="grub"/>
    <entry name="gzip"/>
	<entry name="hwinfo"/>
    <entry name="ifplugd"/>
    <entry name="initviocons"/>
    <entry name="insserv"/>
    <entry name="iproute2"/>
    <entry name="iptables"/>
    <entry name="iputils"/>
    <entry name="kbd"/>
    <entry name="kernel-xen"/>
    <entry name="klogd"/>
    <entry name="ksymoops"/>
    <entry name="less"/>
    <entry name="libacl"/>
    <entry name="libaio"/>
    <entry name="libattr"/>
    <entry name="libcap"/>
    <entry name="libcom_err"/>
    <entry name="libevent"/>
    <entry name="libgcc"/>
    <entry name="libgssapi"/>
    <entry name="libicu"/>
    <entry name="libnscd"/>
    <entry name="libpcap"/>
    <entry name="libpng"/>
    <entry name="libreiserfs"/>
    <entry name="librpcsecgss"/>
    <entry name="libstdc++"/>
    <entry name="libtool"/>
    <entry name="libusb"/>
    <entry name="libxcrypt"/>
    <entry name="libxml2"/>
    <entry name="libxml2-python"/>
    <entry name="libzio"/>
    <entry name="logrotate"/>
    <entry name="mingetty"/>
    <entry name="mkinitrd"/>
    <entry name="mktemp"/>
    <entry name="module-init-tools"/>
    <entry name="ncurses"/>
    <entry name="net-tools"/>
    <entry name="netcfg"/>
    <entry name="nscd"/>
    <entry name="openslp"/>
    <entry name="openssh"/>
    <entry name="openssl"/>
    <entry name="pam"/>
    <entry name="pam-modules"/>
    <entry name="pax"/>
    <entry name="pciutils"/>
    <entry name="perl"/>
    <entry name="perl-Bit-Vector"/>
    <entry name="perl-Bootloader"/>
    <entry name="perl-Carp-Clan"/>
    <entry name="perl-Compress-Zlib"/>
    <entry name="perl-Config-Crontab"/>
    <entry name="perl-Config-IniFiles"/>
    <entry name="perl-Crypt-SmbHash"/>
    <entry name="perl-Date-Calc"/>
    <entry name="perl-Digest-MD4"/>
    <entry name="perl-Digest-SHA1"/>
    <entry name="perl-Parse-RecDescent"/>
    <entry name="perl-URI"/>
    <entry name="perl-X500-DN"/>
    <entry name="perl-XML-Parser"/>
    <entry name="perl-XML-Writer"/>
    <entry name="perl-gettext"/>
    <entry name="permissions"/>
    <entry name="pmtools"/>
    <entry name="popt"/>
    <entry name="prctl"/>
    <entry name="procinfo"/>
    <entry name="procmail"/>
    <entry name="procps"/>
    <entry name="psmisc"/>
    <entry name="pwdutils"/>
    <entry name="python"/>
    <entry name="python-xml"/>
    <entry name="readline"/>
    <entry name="recode"/>
    <entry name="reiserfs"/>
    <entry name="rpm"/>
    <entry name="rsync"/>
    <entry name="sed"/>
    <entry name="sharutils"/>
    <entry name="strace"/>
    <entry name="suse-build-key"/>
    <entry name="suspend"/>
    <entry name="sysconfig"/>
    <entry name="sysfsutils"/>
    <entry name="syslinux"/>
    <entry name="syslog-ng"/>
    <entry name="sysvinit"/>
    <entry name="tar"/>
    <entry name="tcpd"/>
    <entry name="terminfo"/>
    <entry name="timezone"/>
    <entry name="udev"/>
    <entry name="utempter"/>
    <entry name="util-linux"/>
    <entry name="vim"/>
    <entry name="wol"/>
    <entry name="xen"/>
    <entry name="xen-libs"/>
    <entry name="xen-tools"/>
    <entry name="xntp"/>
    <entry name="zlib"/>
	<entry name="resmgr"/>
	<entry name="irqbalance"/>
	<entry name="portmap"/>
	<entry name="cron"/>
	<!-- The following package list is used if this image runs in xen -->
    <xenvm name="kernel-xen"/>
    <xenvm name="xen"/>
    <!-- The following list builds the initial base package set -->
    <cpios name="filesystem"/>
    <cpios name="glibc"/>
	<cpios name="glibc-locale"/>
    <cpios name="devs"/>
    <cpios name="rpm"/>
    <cpios name="smart"/>
</directory>
