<image name="initrd-usbboot-suse-10.2">
	<description type="boot">
		<author>Marcus Schaefer</author>
		<contact>ms@novell.com</contact>
		<specification>boot/initrd image for USB stick systems</specification>
	</description>
	<preferences>
		<type>cpio</type>
		<version>2.1.1</version>
		<size unit="M">60</size>
		<compressed>yes</compressed>
		<packagemanager>smart</packagemanager>
		<rpm-check-signatures>False</rpm-check-signatures>
	</preferences>
	<drivers type="usbdrivers">
		<file name="usb/host/usb-uhci.ko"/>
		<file name="usb/host/usb-ohci.ko"/>
		<file name="usb/host/ehci-hcd.ko"/>
		<file name="usb/host/uhci-hcd.ko"/>
		<file name="usb/core/usbcore.ko"/>
		<file name="usb/storage/usb-storage.ko"/>
	</drivers>
	<drivers type="drivers">
		<file name="drivers/ide/*"/>
		<file name="drivers/block/loop.ko"/>
		<file name="net/packet/*"/>
		<file name="fs/ext3/*"/>
		<file name="fs/ext2/*"/>
		<file name="fs/binfmt_aout.ko"/>
		<file name="fs/binfmt_misc.ko"/>
		<file name="fs/mbcache.ko"/>
		<file name="fs/quota_v1.ko"/>
		<file name="fs/quota_v2.ko"/>
		<file name="fs/jbd/*"/>
		<file name="fs/fat/*"/>
		<file name="fs/vfat/*"/>
		<file name="fs/reiserfs/*"/>
		<file name="fs/nls/nls_utf8.ko"/>
		<file name="net/ipv6/*"/>
		<file name="drivers/cdrom/*"/>
		<file name="drivers/scsi/*"/>
		<file name="drivers/message/fusion/*"/>
		<file name="drivers/net/*"/>
	</drivers>
	<repository type="yast2" status="replaceable">
		<source path="opensuse://openSUSE:10.2"/>
		<!--<source path="/image/dist/full-10.2-i386"/>-->
	</repository>
	<packages type="image">
		<package name="e2fsprogs"/>
		<package name="file"/>
		<package name="libcom_err"/>
		<package name="module-init-tools"/>
		<package name="pciutils"/>
		<package name="reiserfs"/>
		<package name="sysconfig"/>
		<package name="sysfsutils"/>
		<package name="util-linux"/>
		<package name="gfxboot"/>
		<package name="fribidi"/>
		<package name="make"/>
		<package name="grub"/>
	</packages>
	<packages type="boot">
		<package name="kernel-default"/>
		<package name="filesystem"/>
		<package name="glibc-locale"/>
		<package name="devs"/>
		<package name="procps"/>
	</packages>
</image>
