<?xml version="1.0" encoding="utf-8"?>

<image schemaversion="5.4" name="suse-12.2-ec2-guest">
	<description type="system">
		<author>Marcus Schäfer</author>
		<contact>ms@novell.com</contact>
		<specification>openSUSE 12.2 ec2 guest system</specification>
	</description>
	<preferences>
		<version>1.1.2</version>
		<packagemanager>zypper</packagemanager>
		<rpm-check-signatures>false</rpm-check-signatures>
		<rpm-force>true</rpm-force>
		<locale>en_US</locale>
		<keytable>us.map.gz</keytable>
		<type image="ext3" format="ec2">
			<ec2config>
				<ec2privatekeyfile>Path to EC2 private key file</ec2privatekeyfile>
				<ec2certfile>Path to EC2 public certificate file</ec2certfile>
				<ec2accountnr>12345678911</ec2accountnr>
				<ec2region>EU-West</ec2region>
			</ec2config>
		</type>
	</preferences>
	<users group="root">
		<user pwd="$1$wYJUgpM5$RXMMeASDc035eX.NbYWFl0" home="/root" name="root"/>
	</users>
	<repository type="yast2">
		<source path="opensuse://12.2/repo/oss/"/>
	</repository>
	<repository type="yast2">
		<source path="opensuse://12.2/repo/non-oss"/>
	</repository>
	<packages type="image">
		<package name="plymouth-branding-openSUSE" bootinclude="true"/>
		<package name="ifplugd"/>
		<package name="kernel-ec2"/>
		<package name="kernel-ec2-base"/>
		<package name="suse-ami-tools"/>
		<package name="vim"/>
		<package name="plymouth"/>
		<package name="xen-tools-domU"/>
		<package name="xen"/>
		<package name="grub"/>
		<opensusePattern name="base"/>
	</packages>
	<packages type="bootstrap">
		<package name="filesystem"/>
		<package name="glibc-locale"/>
	</packages>
</image>
