<?xml version="1.0" encoding="utf-8"?>

<image schemaversion="5.3" name="LimeJeOS-SLE12">
	<description type="system">
		<author>Marcus Schäfer</author>
		<contact>ms@novell.com</contact>
		<specification>
			SLE12 JeOS image for arm (panda/beagle) board
		</specification>
	</description>
	<profiles>
		<profile name="pandaFlavour" description="Kernel/Tools setup for panda boards" import="true"/>
		<profile name="efikaFlavour" description="Kernel/Tools setup for efika boards"/>
	</profiles>
	<preferences>
		<type image="tbz" primary="true"/>
		<version>1.12.1</version>
		<packagemanager>zypper</packagemanager>
		<locale>en_US</locale>
		<keytable>us.map.gz</keytable>
		<timezone>Europe/Berlin</timezone>
		<hwclock>utc</hwclock>
		<rpm-excludedocs>true</rpm-excludedocs>
		<boot-theme>openSUSE</boot-theme>
	</preferences>
	<preferences profiles="pandaFlavour">
		<type image="vmx" filesystem="ext3" boot="vmxboot/suse-SLES12" bootloader="uboot" bootkernel="omap4panda" kernelcmdline="kiwistderr=/dev/ttyO2 console=ttyO2 ethaddr=f2:9e:1a:ca:d9:99">
			<systemdisk/>
		</type>
		<type image="oem" filesystem="ext3" boot="oemboot/suse-SLES12" bootloader="uboot" bootkernel="omap4panda" kernelcmdline="kiwistderr=/dev/ttyO2 console=ttyO2 ethaddr=f2:9e:1a:ca:d9:99">
			<systemdisk/>
			<oemconfig>
				<oem-swapsize>500</oem-swapsize>
			</oemconfig>
		</type>
	</preferences>
	<preferences profiles="efikaFlavour">
		<type image="vmx" filesystem="ext3" boot="vmxboot/suse-SLES12" bootloader="uboot" bootkernel="imx51" kernelcmdline="kiwistderr=/dev/ttymxc0 console=ttymxc0,115200">
			<systemdisk/>
		</type>
		<type image="oem" filesystem="ext3" boot="oemboot/suse-SLES12" bootloader="uboot" bootkernel="imx51" kernelcmdline="kiwistderr=/dev/ttymxc0 console=ttymxc0,115200">
			<systemdisk/>
			<oemconfig>
				<oem-swapsize>500</oem-swapsize>
			</oemconfig>
		</type>
	</preferences>
	<users group="root">
		<user pwd="$1$wYJUgpM5$RXMMeASDc035eX.NbYWFl0" home="/root" name="root"/>
	</users>
<!-- internal suse buildservice repo
	<repository type="rpm-md">
		<source path="http://reiser.suse.de:82/openSUSE:/Factory:/ARM/standard"/>
	</repository>
-->
	<repository type="rpm-md">
		<source path="http://download.opensuse.org/repositories/openSUSE:/Factory:/ARM/standard"/>
	</repository>
	<packages type="bootstrap" profiles="pandaFlavour">
		<package name="kernel-omap2plus"/>
		<package name="u-boot-omap4panda"/>
	</packages>
	<packages type="bootstrap" profiles="efikaFlavour">
		<package name="kernel-imx51"/>
	</packages>
	<packages type="bootstrap">
		<package name="ifplugd"/>
		<package name="iputils"/>
		<package name="vim"/>
		<package name="lvm2"/>
		<package name="filesystem"/>
		<package name="glibc-locale"/>
		<package name="cracklib-dict-full"/>
		<package name="module-init-tools"/>
		<package name="kbd"/>
		<package name="aaa_base"/>
		<package name="hwinfo"/>
		<package name="procps"/>
		<package name="sysconfig"/>
		<package name="pwdutils"/>
		<package name="openssh"/>
		<package name="dhcpcd"/>
		<package name="insserv"/>
		<package name="polkit"/>
		<package name="netcfg"/>
		<package name="rpcbind"/>
		<package name="mkinitrd"/>
		<package name="rpm"/>
		<package name="rsyslog"/>
		<package name="systemd-sysvinit"/>
		<package name="u-boot-tools"/>
		<package name="less"/>
		<package name="zypper"/>
	</packages>
</image>
