<?xml version="1.0" encoding="utf-8"?>

<image schemaversion="5.9" name="suse-12.2-SUSENebula-guest">
	<description type="system">
		<author>Robert Schweikert</author>
		<contact>rjschwei@suse.com</contact>
		<specification>openSUSE 12.2 virtual disk system</specification>
	</description>
	<preferences>
		<type image="vmx" primary="true" filesystem="ext4" boot="vmxboot/suse-12.2" format="qcow2"/>
		<version>1.0.0</version>
		<packagemanager>zypper</packagemanager>
		<rpm-check-signatures>false</rpm-check-signatures>
		<rpm-force>true</rpm-force>
		<locale>en_US</locale>
		<keytable>us.map.gz</keytable>
	</preferences>
	<users group="root">
		<user password="$1$wYJUgpM5$RXMMeASDc035eX.NbYWFl0" home="/root" name="root"/>
	</users>
	<repository type="yast2">
		<source path="opensuse://12.2/repo/oss/"/>
	</repository>
	<packages type="image">
		<package name="bootsplash-branding-openSUSE" bootinclude="true" bootdelete="true"/>
		<package name="gfxboot-branding-openSUSE" bootinclude="true" bootdelete="true"/>
		<package name="kernel-default"/>
		<package name="ifplugd"/>
		<package name="iputils"/>
		<package name="vim"/>
		<namedCollection name="base"/>
	</packages>
	<packages type="bootstrap">
		<package name="filesystem"/>
		<package name="glibc-locale"/>
	</packages>
</image>
