<?xml version="1.0"?>
<image schemeversion="2.4" name="LimeJeOS-SLE11">
	<!-- Base Information -->
	<description type="system">
		<author>Marcus Schäfer</author>
		<contact>ms@novell.com</contact>
		<specification>
			SUSE SLE11 JeOS, is a small text based image which
			allows editing of files as well as upgrading to a full
			distro by using zypper with the pre-defined repository 
		</specification>
	</description>
	<!-- Image Type and Preferences -->
	<preferences>
		<type 
			primary="true"
			filesystem="ext3"
			boot="vmxboot/suse-SLES11"
			format="vmdk"
		>vmx</type>
		<type 
			filesystem="ext3"
			boot="oemboot/suse-SLES11"
			format="iso"
		>oem</type>
		<type 
			boot="isoboot/suse-SLES11"
			flags="unified"
		>iso</type>
		<type 
			filesystem="ext3"
			boot="xenboot/suse-SLES11"
		>xen</type>
		<version>1.11.1</version>
		<packagemanager>zypper</packagemanager>
		<locale>en_US.UTF-8</locale>
		<keytable>us.map.gz</keytable>
		<timezone>Europe/Berlin</timezone>
		<rpm-excludedocs>true</rpm-excludedocs>
		<boot-theme>SLES</boot-theme>
	</preferences>
	<!-- Users setup -->
	<users group="root">
		<user 
			pwd="$1$wYJUgpM5$RXMMeASDc035eX.NbYWFl0"
			home="/root"
			name="root"
		/>
	</users>
	<!-- Package Repositories -->
	<repository type="yast2">
		<!-- you need to setup your SLE11 source here -->
		<source path="/image/CDs/full-sles11-i386"/>
	</repository>
	<!-- Packages and Patterns -->
	<packages type="image">
		<package name="bootsplash-branding-SLES" bootinclude="true" bootdelete="true"/>
		<package name="gfxboot-branding-SLES" bootinclude="true" bootdelete="true"/>
		<package name="kernel-default" replaces="kernel-xen"/>
		<package name="ifplugd"/>
		<package name="vim"/>
		<package name="grub"/>
		<opensusePattern name="base"/>
	</packages>
	<packages type="xen">
		<package name="kernel-xen" replaces="kernel-default"/>
		<package name="xen"/>
	</packages>
	<packages type="bootstrap">
		<package name="filesystem"/>
		<package name="glibc-locale"/>
	</packages>
	<!-- Virtual Machine configurations -->
	<vmwareconfig memory="256" guestOS="suse" HWversion="4">
		<vmwaredisk controller="scsi" id="0"/>
		<vmwarenic driver="e1000" interface="0" mode="bridged"/>
	</vmwareconfig>
	<xenconfig memory="256">
		<xendisk device="/dev/sda"/>
	</xenconfig>
</image>
