<?xml version="1.0" encoding="utf-8"?>

<image schemaversion="4.1" name="suse-11.0-live-stick">
	<description type="system">
		<author>Marcus Schäfer</author>
		<contact>ms@novell.com</contact>
		<specification>openSUSE 11.0 live stick system</specification>
	</description>
	<preferences>
		<type image="usb" filesystem="ext3" boot="usbboot/suse-11.0"/>
		<type image="oem" filesystem="ext3" boot="oemboot/suse-11.0"/>
		<version>1.1.2</version>
		<packagemanager>smart</packagemanager>
		<rpm-check-signatures>false</rpm-check-signatures>
		<rpm-force>true</rpm-force>
		<locale>en_US</locale>
		<keytable>us.map.gz</keytable>
	</preferences>
	<users group="users">
		<user pwd="$1$wYJUgpM5$RXMMeASDc035eX.NbYWFl0" home="/home/tux" name="tux"/>
	</users>
	<users group="root">
		<user pwd="$1$wYJUgpM5$RXMMeASDc035eX.NbYWFl0" home="/root" name="root"/>
	</users>
	<repository type="yast2">
		<source path="opensuse://11.0/repo/oss/"/>
	</repository>
	<packages type="image">
		<package name="bootsplash-branding-openSUSE" bootinclude="true" bootdelete="true"/>
		<package name="gfxboot-branding-openSUSE" bootinclude="true" bootdelete="true"/>
		<package name="kernel-default"/>
		<package name="bootsplash"/>
		<package name="vim"/>
		<opensusePattern name="default"/>
		<opensusePattern name="x11"/>
	</packages>
	<packages type="bootstrap">
		<package name="filesystem"/>
		<package name="glibc-locale"/>
	</packages>
</image>
