<?xml version="1.0" encoding="utf-8"?>

<image schemaversion="5.4" name="suse-12.2-live">
	<description type="system">
		<author>Marcus Schäfer</author>
		<contact>ms@novell.com</contact>
		<specification>openSUSE 12.2 Live system for CD/DVD and USB Stick</specification>
	</description>
	<preferences>
		<type image="iso" primary="true" boot="isoboot/suse-12.2" hybrid="true" flags="clic"/>
		<version>2.5.2</version>
		<packagemanager>zypper</packagemanager>
		<rpm-check-signatures>false</rpm-check-signatures>
		<rpm-force>true</rpm-force>
		<locale>en_US</locale>
		<keytable>us.map.gz</keytable>
	</preferences>
	<users group="root">
		<user pwd="$1$wYJUgpM5$RXMMeASDc035eX.NbYWFl0" home="/root" name="root"/>
	</users>
	<users group="users">
		<user pwd="$1$wYJUgpM5$RXMMeASDc035eX.NbYWFl0" home="/home/tux" name="tux"/>
	</users>
	<repository type="yast2">
		<source path="opensuse://12.2/repo/oss/"/>
	</repository>
	<packages type="image">
		<package name="bootsplash-branding-openSUSE" bootinclude="true" bootdelete="true"/>
		<package name="gfxboot-branding-openSUSE" bootinclude="true" bootdelete="true"/>
		<package name="kernel-default"/>
		<package name="ifplugd"/>
		<package name="vim"/>
		<package name="yast2-firstboot"/>
		<opensusePattern name="base"/>
		<opensusePattern name="kde4"/>
	</packages>
	<packages type="bootstrap">
		<package name="filesystem"/>
		<package name="glibc-locale"/>
	</packages>
</image>
