<?xml version="1.0" encoding="utf-8"?>

<image schemaversion="5.6" name="Eucalyptus-Cloud-Node">
	<description type="system">
		<author>Robert Schweikert</author>
		<contact>rschweikert@novell.com</contact>
		<specification>openSUSE 11.4 Eucalyptus Cloud Node</specification>
	</description>
	<preferences>
		<type image="oem" filesystem="ext4" boot="oemboot/suse-11.4" bootprofile="xen" bootkernel="xenk" installiso="true">
			<oemconfig>
				<oem-boot-title>Eucalyptus Cloud Node</oem-boot-title>
<!-- Do not create an extra partition -->
				<oem-kiwi-initrd>true</oem-kiwi-initrd>
				<oem-reboot>true</oem-reboot>
				<oem-swap>true</oem-swap>
				<oem-swapsize>1024</oem-swapsize>
			</oemconfig>
			<machine domain="dom0"/>
		</type>
		<version>1.1.0</version>
		<packagemanager>zypper</packagemanager>
		<rpm-check-signatures>false</rpm-check-signatures>
		<rpm-force>true</rpm-force>
		<locale>en_US</locale>
		<keytable>us.map.gz</keytable>
	</preferences>
	<users group="users">
		<user pwd="$1$wYJUgpM5$RXMMeASDc035eX.NbYWFl0" home="/home/tux" name="tux"/>
	</users>
	<users group="root">
		<user pwd="$1$wYJUgpM5$RXMMeASDc035eX.NbYWFl0" home="/root" name="root"/>
	</users>
	<repository type="yast2">
		<source path="opensuse://11.4/repo/oss/"/>
	</repository>
	<repository type="rpm-md">
		<source path="PATH_TO_EUCALYPTUS_RPMS"/>
	</repository>
	<packages type="image" patternType="plusRecommended">
		<opensusePattern name="base"/>
		<package name="bootsplash"/>
		<package name="bootsplash-branding-openSUSE" bootinclude="true" bootdelete="true"/>
		<package name="bridge-utils"/>
		<package name="dhcp-server"/>
		<package name="gfxboot-branding-openSUSE" bootinclude="true" bootdelete="true"/>
		<package name="ifplugd"/>
		<package name="iptables"/>
		<package name="kernel-xen"/>
		<package name="lvm2"/>
		<package name="rsyslog"/>
		<package name="sudo"/>
<!-- Eucalyptus cloud node packages -->
		<package name="aoetools"/>
		<package name="euca-axis2c"/>
		<package name="euca-rampartc"/>
		<package name="eucalyptus"/>
		<package name="eucalyptus-gl"/>
		<package name="eucalyptus-nc"/>
		<package name="vblade"/>
<!-- end Eucalyptus packages -->
		<package name="vim"/>
		<package name="vlan"/>
		<package name="xen"/>
		<package name="xen-tools"/>
	</packages>
	<packages type="bootstrap">
		<package name="filesystem"/>
		<package name="glibc-locale"/>
	</packages>
</image>
