<?xml version="1.0" encoding="utf-8"?>

<image schemaversion="5.6" name="suse-11.4-xen-guest">
	<description type="system">
		<author>Marcus Schäfer</author>
		<contact>ms@novell.com</contact>
		<specification>openSUSE 11.4 xen guest system</specification>
	</description>
	<preferences>
		<version>1.1.2</version>
		<packagemanager>zypper</packagemanager>
		<rpm-check-signatures>false</rpm-check-signatures>
		<rpm-force>true</rpm-force>
		<locale>en_US</locale>
		<keytable>us.map.gz</keytable>
		<type image="vmx" filesystem="ext3" boot="vmxboot/suse-11.4" bootprofile="xen" bootkernel="xenk">
			<machine memory="512" domain="domU">
				<vmdisk device="/dev/xvda"/>
				<vmnic interface="br0" mac="00:0C:6E:AA:57:2F"/>
			</machine>
		</type>
	</preferences>
	<users group="root">
		<user pwd="$1$wYJUgpM5$RXMMeASDc035eX.NbYWFl0" home="/root" name="root"/>
	</users>
	<repository type="yast2">
		<source path="opensuse://11.4/repo/oss/"/>
	</repository>
	<packages type="image">
		<package name="bootsplash-branding-openSUSE" bootinclude="true" bootdelete="true"/>
		<package name="gfxboot-branding-openSUSE" bootinclude="true" bootdelete="true"/>
		<package name="ifplugd"/>
		<package name="kernel-xen" replaces="kernel-ec2"/>
		<package name="vim"/>
		<package name="xen-tools"/>
		<package name="xen"/>
		<opensusePattern name="base"/>
	</packages>
	<packages type="bootstrap">
		<package name="filesystem"/>
		<package name="glibc-locale"/>
	</packages>
</image>
