<?xml version="1.0" encoding="utf-8"?>

<image schemaversion="6.1" name="LimeJeOS-SLE12-Community">
    <description type="system">
        <author>Marcus Schaefer</author>
        <contact>cthiel@novell.com</contact>
        <specification>SUSE Linux Enterprise 12 JeOS</specification>
    </description>
    <preferences>
        <version>1.1.0</version>
        <packagemanager>zypper</packagemanager>
        <bootsplash-theme>SLES</bootsplash-theme>
        <bootloader-theme>SLES</bootloader-theme>
        <rpm-excludedocs>true</rpm-excludedocs>
        <rpm-check-signatures>false</rpm-check-signatures>
        <locale>en_US</locale>
        <keytable>us.map.gz</keytable>
        <timezone>Europe/Berlin</timezone>
        <hwclock>utc</hwclock>
        <type image="vmx" filesystem="ext4" boot="vmxboot/suse-SLES12" bootloader="grub2" firmware="ofw" primary="true"/>
    </preferences>
    <users group="root">
        <user password="$1$wYJUgpM5$RXMMeASDc035eX.NbYWFl0" home="/root" name="root"/>
    </users>
    <repository type="yast2">
        <source path="obs://SUSE:SLE-12:GA/standard"/>
    </repository>
    <packages type="image">
        <namedCollection name="Minimal"/>
        <package name="kernel-default"/>
        <package name="iputils"/>
        <package name="vim"/>
        <package name="grub2"/>
        <package name="grub2-powerpc-ieee1275"/>
        <package name="grub2-branding-SLE-12"/>
    </packages>
    <packages type="bootstrap">
        <package name="filesystem"/>
        <package name="glibc-locale"/>
        <package name="cracklib-dict-full"/>
    </packages>
</image>
