<?xml version="1.0" encoding="utf-8"?>

<image schemaversion="5.9" name="initrd-netboot-suse-SLES10">
	<description type="boot">
		<author>Marcus Schaefer</author>
		<contact>ms@novell.com</contact>
		<specification>boot/initrd image used for PXE</specification>
	</description>
	<preferences>
		<type image="cpio" bootprofile="default" bootkernel="std"/>
		<version>2.1.1</version>
		<packagemanager>smart</packagemanager>
		<rpm-check-signatures>false</rpm-check-signatures>
	</preferences>
	<profiles>
		<profile name="default" description="Boot with default kernel"/>
		<profile name="std" description="KERNEL: Default"/>
		<profile name="smp" description="KERNEL: bigsmp kernel"/>
		<profile name="custom" description="KERNEL: specified by bootinclude in system XML"/>
	</profiles>
	<drivers>
		<file name="crypto/*"/>
		<file name="drivers/usb/core/usbcore.ko"/>
		<file name="drivers/usb/host/*"/>
		<file name="drivers/usb/input/usbhid.ko"/>
		<file name="drivers/usb/storage/usb-storage.ko"/>
		<file name="drivers/ata/*"/>
		<file name="drivers/block/aoe/aoe.ko"/>
		<file name="drivers/block/nbd.ko"/>
		<file name="drivers/cdrom/*"/>
		<file name="drivers/ide/*"/>
		<file name="drivers/md/*"/>
		<file name="drivers/message/fusion/*"/>
		<file name="drivers/net/*"/>
		<file name="drivers/scsi/*"/>
		<file name="drivers/block/virtio_blk.ko"/>
		<file name="drivers/virtio/*"/>
		<file name="fs/binfmt_aout.ko"/>
		<file name="fs/binfmt_misc.ko"/>
		<file name="fs/ext2/*"/>
		<file name="fs/ext3/*"/>
		<file name="fs/fat/*"/>
		<file name="fs/jbd/*"/>
		<file name="fs/lockd/*"/>
		<file name="fs/mbcache.ko"/>
		<file name="fs/nfs/*"/>
		<file name="fs/nfs_common/*"/>
		<file name="fs/quota_v1.ko"/>
		<file name="fs/quota_v2.ko"/>
		<file name="fs/reiserfs/*"/>
		<file name="fs/squashfs.ko"/>
		<file name="fs/vfat/*"/>
		<file name="net/ipv6/*"/>
		<file name="net/packet/*"/>
		<file name="net/sunrpc/*"/>
	</drivers>
	<repository type="rpm-md" status="replaceable">
		<source path="obs://SUSE:SLE-10-SP2:GA/standard"/>
	</repository>
	<packages type="bootstrap" profiles="std">
		<package name="kernel-default"/>
	</packages>
	<packages type="bootstrap" profiles="smp">
		<package name="kernel-smp"/>
	</packages>
	<packages type="image" profiles="custom"><!-- empty custom section to allow bootincluding custom kernel --></packages>
	<packages type="bootstrap">
		<package name="adaptec-firmware"/>
		<package name="atftp"/>
		<package name="bc"/>
		<package name="bind-libs"/>
		<package name="bind-utils"/>
		<package name="bootsplash"/>
		<package name="busybox"/>
		<package name="curl"/>
		<package name="cyrus-sasl"/>
		<package name="dhcpcd"/>
		<package name="dialog"/>
		<package name="diffutils"/>
		<package name="e2fsprogs"/>
		<package name="fbiterm"/>
		<package name="file"/>
		<package name="filesystem"/>
		<package name="fribidi"/>
		<package name="gettext"/>
		<package name="gfxboot"/>
		<package name="glibc"/>
		<package name="glibc-locale"/>
		<package name="hwinfo"/>
		<package name="iputils"/>
		<package name="lvm2"/>
		<package name="make"/>
		<package name="module-init-tools"/>
		<package name="nbd"/>
		<package name="net-tools"/>
		<package name="netcfg"/>
		<package name="openssl"/>
		<package name="parted"/>
		<package name="procps"/>
		<package name="psmisc"/>
		<package name="reiserfs"/>
		<package name="tar"/>
		<package name="util-linux"/>
	</packages>
	<packages type="delete">
		<package name="ash"/>
		<package name="cracklib-dict-full"/>
		<package name="cracklib-dict-small"/>
		<package name="diffutils"/>
		<package name="expat"/>
		<package name="fillup"/>
		<package name="gdbm"/>
		<package name="gfxboot"/>
		<package name="glibc-locale"/>
		<package name="gnome-filesystem"/>
		<package name="info"/>
		<package name="insserv"/>
		<package name="iptables"/>
		<package name="libxml2"/>
		<package name="licenses"/>
		<package name="logrotate"/>
		<package name="make"/>
		<package name="man"/>
		<package name="openldap2-client"/>
		<package name="openslp"/>
		<package name="pam"/>
		<package name="pam-modules"/>
		<package name="perl"/>
		<package name="perl-Bootloader"/>
		<package name="perl-gettext"/>
		<package name="permissions"/>
		<package name="suse-build-key"/>
		<package name="suse-release"/>
	</packages>
</image>
