# Copyright (c) 2011 SUSE
# All rights reserved.
#
# Author: Robert Schweikert
# License: GPL v2

[Unit]
Description=One time cloud node configuration utility
After=network.target
After=syslog.target
ConditionPathExists=/var/lib/firstboot

[Service]
ExecStart=/usr/share/firstboot/scripts/cloudNodeConfig
ExecStartPost=rm /var/lib/firstboot
Type=simple

[Install]
WantedBy=multi-user.target
