<?xml version="1.0" encoding="utf-8"?>

<image schemaversion="6.1" name="suse-13.1-ec2-guest">
    <description type="system">
        <author>Marcus Schäfer</author>
        <contact>ms@novell.com</contact>
        <specification>openSUSE 13.1 ec2 guest system</specification>
    </description>
    <preferences>
        <version>2.0.0</version>
        <packagemanager>zypper</packagemanager>
        <rpm-check-signatures>false</rpm-check-signatures>
        <rpm-force>true</rpm-force>
        <locale>en_US</locale>
        <keytable>us.map.gz</keytable>
        <type image="vmx" filesystem="ext4" boot="vmxboot/suse-13.1" bootloader="grub" bootprofile="ec2" bootkernel="ec2k" kernelcmdline="xencons=xvc0 console=xvc0 multipath=off" firmware="ec2" boottimeout="1" vga="normal" installprovidefailsafe="false"/>
    </preferences>
    <users group="root">
        <user password="$1$wYJUgpM5$RXMMeASDc035eX.NbYWFl0" home="/root" name="root"/>
    </users>
    <repository type="yast2">
        <source path="opensuse://13.1/repo/oss/"/>
    </repository>
    <repository type="rpm-md">
        <source path="http://download.opensuse.org/repositories/Cloud:/Tools/openSUSE_13.1"/>
    </repository>
    <packages type="image">
        <package name="cloud-init"/>
        <package name="ifplugd"/>
        <package name="kernel-ec2"/>
        <package name="vim"/>
        <package name="xen-tools-domU"/>
        <package name="xen"/>
        <package name="grub"/>
        <namedCollection name="base"/>
    </packages>
    <packages type="bootstrap">
        <package name="filesystem"/>
        <package name="glibc-locale"/>
        <package name="module-init-tools"/>
    </packages>
</image>
