<?xml version="1.0" encoding="utf-8"?>

<image schemaversion="6.1" name="initrd-oemboot-suse-SLES11">
	<description type="boot">
		<author>Marcus Schaefer</author>
		<contact>ms@novell.com</contact>
		<specification>boot/initrd image used on OEM VMX disk</specification>
	</description>
	<preferences>
		<type image="cpio" bootprofile="default" bootkernel="std"/>
		<version>2.7.1</version>
		<packagemanager>zypper</packagemanager>
		<rpm-check-signatures>false</rpm-check-signatures>
	</preferences>
	<profiles>
		<profile name="default" description="Boot with default setup"/>
		<profile name="std" description="KERNEL: Default"/>
		<profile name="custom" description="KERNEL: specified by bootinclude in system XML"/>
	</profiles>
	<drivers>
		<file name="crypto/*"/>
		<file name="drivers/block/*"/>
		<file name="drivers/block/brd.ko"/>
		<file name="drivers/cdrom/*"/>
		<file name="drivers/char/*"/>
		<file name="drivers/md/*"/>
		<file name="drivers/net/*"/>
		<file name="drivers/s390/*"/>
		<file name="drivers/scsi/*"/>
		<file name="drivers/virtio/*"/>
		<file name="fs/binfmt_aout.ko"/>
		<file name="fs/binfmt_misc.ko"/>
		<file name="fs/btrfs/*"/>
		<file name="fs/exportfs/*"/>
		<file name="fs/ext2/*"/>
		<file name="fs/ext3/*"/>
		<file name="fs/ext4/*"/>
		<file name="fs/fat/*"/>
		<file name="fs/fuse/*"/>
		<file name="fs/hfs/*"/>
		<file name="fs/jbd/*"/>
		<file name="fs/mbcache.ko"/>
		<file name="fs/nls/nls_cp437.ko"/>
		<file name="fs/nls/nls_iso8859-1.ko"/>
		<file name="fs/nls/nls_utf8.ko"/>
		<file name="fs/quota_v1.ko"/>
		<file name="fs/quota_v2.ko"/>
		<file name="fs/squashfs/*"/>
		<file name="fs/udf/*"/>
		<file name="fs/vfat/*"/>
		<file name="fs/xfs/*"/>
		<file name="net/packet/*"/>
	</drivers>
	<repository type="yast2" status="replaceable">
		<source path="http://download.suse.de/install/SLP/SLES-11-SP1-GM/%arch/DVD1/"/>
	</repository>
	<packages type="image" profiles="std">
		<package name="kernel-default"/>
		<package name="kernel-default-base"/>
	</packages>
	<packages type="image">
		<package name="atftp"/>
		<package name="bc"/>
		<package name="bind-libs"/>
		<package name="bind-utils"/>
		<package name="btrfsprogs"/>
		<package name="busybox"/>
		<package name="bzip2"/>
		<package name="cryptsetup"/>
		<package name="curl"/>
		<package name="dhcpcd"/>
		<package name="dialog"/>
		<package name="e2fsprogs"/>
		<package name="eject"/>
		<package name="fbiterm"/>
		<package name="file"/>
		<package name="fribidi"/>
		<package name="genisoimage"/>
		<package name="gettext-runtime"/>
		<package name="hwinfo"/>
		<package name="iputils"/>
		<package name="kexec-tools"/>
		<package name="kiwi-tools"/>
		<package name="kpartx"/>
		<package name="lvm2"/>
		<package name="make"/>
		<package name="module-init-tools"/>
		<package name="net-tools"/>
		<package name="netcfg"/>
		<package name="parted"/>
		<package name="pciutils"/>
		<package name="psmisc"/>
		<package name="s390-tools"/>
		<package name="sysconfig"/>
		<package name="sysfsutils"/>
		<package name="tar"/>
		<package name="util-linux"/>
		<package name="multipath-tools"/>
		<package name="xfsprogs"/>
		<package name="iproute2"/>
		<package name="xz"/>
	</packages>
	<packages type="image" profiles="custom"><!-- empty custom section to allow bootincluding custom kernel --></packages>
	<packages type="bootstrap">
		<package name="diffutils"/>
		<package name="filesystem"/>
		<package name="glibc"/>
		<package name="glibc-locale"/>
		<package name="openssl-certs"/>
		<package name="procps"/>
	</packages>
	<packages type="delete">
		<package name="PolicyKit"/>
		<package name="audit-libs"/>
		<package name="blocxx"/>
		<package name="cracklib-dict-full"/>
		<package name="cracklib-dict-small"/>
		<package name="db"/>
		<package name="expat"/>
		<package name="fillup"/>
		<package name="gdbm"/>
		<package name="glib2"/>
		<package name="gpg"/>
		<package name="info"/>
		<package name="insserv"/>
		<package name="iptables"/>
		<package name="irqbalance"/>
		<package name="libxcrypt"/>
		<package name="libxml2"/>
		<package name="libzio"/>
		<package name="licenses"/>
		<package name="limal"/>
		<package name="limal-perl"/>
		<package name="logrotate"/>
		<package name="make"/>
		<package name="mdadm"/>
		<package name="mingetty"/>
		<package name="openslp"/>
		<package name="pam"/>
		<package name="pam-modules"/>
		<package name="pcre"/>
		<package name="perl"/>
		<package name="perl-Bootloader"/>
		<package name="perl-gettext"/>
		<package name="permissions"/>
		<package name="pm-utils"/>
		<package name="pmtools"/>
		<package name="suse-build-key"/>
	</packages>
</image>
