# Copyright (c) 2011 SUSE
# All rights reserved.
#
# Author: Robert Schweikert
# License: GPL v2

[Unit]
Description=Daemon to provide system configuration information
After=YaST-Firstboot.service
After=dhcpd.service
After=network.target
After=syslog.target
After=remote_fs.target
RefuseManualStop=true
Wants=YaST-Firstboot.service

[Service]
ExecStart=/usr/sbin/suseNebulaConfSrv
ExecStop=/bin/kill -TERM $MAINPID
Type=simple

[Install]
WantedBy=multi-user.target
