# Copyright (c) 2011 SUSE
# All rights reserved.
#
# Author: Robert Schweikert
# License: GPL v2

[Unit]
Description=Daemon to register a cloud node
After=syslog.target
After=network.target
After=remote_fs.target
After=cloudinfo.service
After=YaST-Firstboot.service
RefuseManualStop=true
Wants=YaST-Firstboot.service

[Service]
ExecStart=/usr/sbin/suseNebulaRegSrv
ExecStop=/bin/kill -TERM $MAINPID
Type=simple

[Install]
WantedBy=multi-user.target
