<image name="initrd-netboot-suse-SLED10-SP1-smp" schemeversion="1.4">
	<description type="boot">
		<author>Marcus Schaefer</author>
		<contact>ms@novell.com</contact>
		<specification>boot/initrd image used for PXE</specification>
	</description>
	<preferences>
		<type>cpio</type>
		<version>2.1.1</version>
		<size unit="M">60</size>
		<compressed>yes</compressed>
		<packagemanager>smart</packagemanager>
		<rpm-check-signatures>False</rpm-check-signatures>
	</preferences>
	<drivers type="drivers">
		<file name="drivers/ide/*"/>
		<file name="net/packet/*"/>
		<file name="fs/ext3/*"/>
		<file name="fs/ext2/*"/>
		<file name="fs/binfmt_aout.ko"/>
		<file name="fs/binfmt_misc.ko"/>
		<file name="fs/mbcache.ko"/>
		<file name="fs/quota_v1.ko"/>
		<file name="fs/quota_v2.ko"/>
		<file name="fs/jbd/*"/>
		<file name="fs/fat/*"/>
		<file name="fs/vfat/*"/>
		<file name="fs/reiserfs/*"/>
		<file name="fs/nfs/*"/>
		<file name="net/sunrpc/*"/>
		<file name="fs/lockd/*"/>
		<file name="fs/nfs_common/*"/>
		<file name="net/ipv6/*"/>
		<file name="drivers/ata/*"/>
		<file name="drivers/scsi/*"/>
		<file name="drivers/message/fusion/*"/>
		<file name="drivers/net/*"/>
		<file name="drivers/block/nbd.ko"/>
	</drivers>
	<repository type="rpm-dir">
		<source path="/usr/share/kiwi/image/netboot/suse-repo/suse-sles-repo"/>
	</repository>
	<repository type="yast2" status="replaceable">
		<source path="ftp://dist.suse.de/install/SLP/SLED-10-SP1-GM/%arch/DVD1"/>
	</repository>
	<packages type="image">
		<package name="atftp"/>
		<package name="bind-libs"/>
		<package name="bind-utils"/>
		<package name="dhcpcd"/>
		<package name="e2fsprogs"/>
		<package name="file"/>
		<package name="hwinfo"/>
		<package name="module-init-tools"/>
		<package name="net-tools"/>
		<package name="netcfg"/>
		<package name="parted"/>
		<package name="reiserfs"/>
		<package name="util-linux"/>
		<package name="kernel-smp"/>
		<package name="diffutils"/>
		<package name="procps"/>
		<package name="lvm2"/>
		<package name="gfxboot"/>
		<package name="fribidi"/>
		<package name="make"/>
	</packages>
	<packages type="boot">
		<package name="filesystem"/>
		<package name="glibc-locale"/>
		<package name="devs"/>
	</packages>
	<packages type="delete">
		<package name="perl"/>
		<package name="glibc-locale"/>
		<package name="man"/>
		<package name="info"/>
		<package name="smart"/>
		<package name="python"/>
		<package name="python-xml"/>
		<package name="python-elementtree"/>
		<package name="perl-gettext"/>
		<package name="perl-Bootloader"/>
		<package name="pam-modules"/>
		<package name="gawk"/>
		<package name="gnome-filesystem"/>
		<package name="openslp"/>
		<package name="rpm-python"/>
		<package name="suse-build-key"/>
		<package name="permissions"/>
		<package name="fillup"/>
		<package name="pam"/>
		<package name="expat"/>
		<package name="suse-release"/>
		<package name="libxml2"/>
		<package name="openldap2-client"/>
		<package name="logrotate"/>
		<package name="diffutils"/>
		<package name="cpio"/>
		<package name="insserv"/>
		<package name="ash"/>
		<package name="gdbm"/>
		<package name="gfxboot"/>
		<package name="fribidi"/>
		<package name="make"/>
	</packages>
</image>
