<?xml version="1.0" encoding="utf-8"?>

<image schemaversion="6.2" name="suse-12.3-pxe-client">
    <description type="system">
        <author>Marcus Schäfer</author>
        <contact>ms@novell.com</contact>
        <specification>openSUSE 12.3 terminal. Please note this a netboot only appliance. The kernel and many other parts are actively deleted in the images.sh script to keep it small. If you use this description for another use case make sure no important data is deleted</specification>
    </description>
    <preferences>
        <type image="pxe" filesystem="clicfs" boot="netboot/suse-12.3">
            <pxedeploy server="192.168.100.2" blocksize="4096">
                <partitions device="/dev/sda">
                    <partition type="swap" number="1" size="5"/>
                    <partition type="L" number="2" size="image" mountpoint="/" target="true"/>
                    <partition type="L" number="3" target="false"/>
                </partitions>
                <union ro="/dev/sda2" rw="/dev/sda3" type="clicfs"/>
            </pxedeploy>
        </type>
        <version>1.2.8</version>
        <packagemanager>zypper</packagemanager>
        <rpm-check-signatures>false</rpm-check-signatures>
        <rpm-force>true</rpm-force>
    </preferences>
    <users group="users">
        <user name="linux" password="$2a$10$90AjhfXU2YIwTRrIftBauecvWXVuaNZ6JLM2IpWi0svu2kO16le9e" home="/home/linux"/>
    </users>
    <users group="root">
        <user password="$1$wYJUgpM5$RXMMeASDc035eX.NbYWFl0" home="/root" name="root"/>
    </users>
    <repository type="yast2">
        <source path="opensuse://12.3/repo/oss/"/>
    </repository>
    <packages type="image">
        <package name="binutils"/>
        <package name="file"/>
        <package name="gawk"/>
        <package name="kernel-default"/>
        <package name="module-init-tools"/>
        <package name="netcfg"/>
        <package name="openssh"/>
        <package name="procinfo"/>
        <package name="sysconfig"/>
        <package name="syslinux"/>
        <package name="sysfsutils"/>
        <package name="kbd"/>
        <package name="ksymoops"/>
        <package name="less"/>
        <package name="initviocons"/>
        <package name="iputils"/>
        <package name="dhcpcd"/>
        <package name="dbus-1"/>
        <package name="grub2"/>
        <package name="acpid"/>
        <package name="ifplugd"/>
        <package name="vim"/>
        <package name="alsa"/>
        <package name="xorg-x11"/>
        <package name="xorg-x11-server"/>
        <package name="xorg-x11-driver-video"/>
        <package name="xterm"/>
        <package name="xdmbgrd"/>
        <package name="xkeyboard-config"/>
        <package name="icewm-lite"/>
        <package name="grub"/>
    </packages>
    <packages type="bootstrap">
        <package name="filesystem"/>
        <package name="glibc-locale"/>
        <package name="module-init-tools"/>
    </packages>
</image>
