<?xml version="1.0" encoding="utf-8"?>

<image schemaversion="5.4" name="LimeJeOS-openSUSE-12.2">
	<description type="system">
		<author>Marcus Schäfer</author>
		<contact>ms@novell.com</contact>
		<specification>
			openSUSE 12.2 JeOS, is a small text based image
		</specification>
	</description>
	<profiles>
		<profile name="xenFlavour" description="VMX with Xen kernel"/>
		<profile name="vmxFlavour" description="VMX with default kernel" import="true"/>
	</profiles>
	<preferences>
		<type image="iso" primary="true" boot="isoboot/suse-12.2" flags="seed" hybrid="true" fsmountoptions="compress=lzo">
			<size unit="M">450</size>
		</type>
		<version>1.12.2</version>
		<packagemanager>zypper</packagemanager>
		<locale>en_US</locale>
		<keytable>us.map.gz</keytable>
		<timezone>Europe/Berlin</timezone>
		<hwclock>utc</hwclock>
		<rpm-excludedocs>true</rpm-excludedocs>
		<boot-theme>openSUSE</boot-theme>
	</preferences>
	<preferences profiles="xenFlavour">
		<type image="vmx" filesystem="ext3" boot="vmxboot/suse-12.2" bootprofile="xen" bootkernel="xenk" bootloader="grub">
			<machine memory="512" domain="domU">
				<vmdisk controller="ide" id="0" device="/dev/xvda"/>
				<vmnic interface=""/>
			</machine>
		</type>
		<type image="oem" filesystem="ext3" boot="oemboot/suse-12.2" bootprofile="xen" bootkernel="xenk" installiso="true" bootloader="grub">
			<oemconfig>
				<oem-systemsize>2048</oem-systemsize>
			</oemconfig>
			<machine domain="dom0"/>
		</type>
	</preferences>
	<preferences profiles="vmxFlavour">
		<type image="vmx" filesystem="ext3" boot="vmxboot/suse-12.2" format="vmdk" bootloader="grub2">
			<machine memory="512" guestOS="suse" HWversion="4">
				<vmdisk controller="scsi" id="0"/>
				<vmnic driver="e1000" interface="0" mode="bridged"/>
			</machine>
		</type>
		<type image="oem" filesystem="ext3" boot="oemboot/suse-12.2" installiso="true" bootloader="grub2">
			<oemconfig>
				<oem-systemsize>2048</oem-systemsize>
			</oemconfig>
			<machine memory="512" guestOS="suse" HWversion="4">
				<vmdisk controller="scsi" id="0"/>
				<vmnic driver="e1000" interface="0" mode="bridged"/>
			</machine>
		</type>
	</preferences>
	<users group="root">
		<user pwd="$1$wYJUgpM5$RXMMeASDc035eX.NbYWFl0" home="/root" name="root"/>
	</users>
	<repository type="yast2">
		<source path="obs://12.2/repo/oss"/>
	</repository>
	<packages type="image">
		<opensusePattern name="base"/>
		<opensuseProduct name="openSUSE"/>
		<package name="plymouth-branding-openSUSE" bootinclude="true"/>
		<package name="ifplugd"/>
		<package name="iputils"/>
		<package name="vim"/>
		<package name="grub2"/>
		<package name="syslinux"/>
		<package name="lvm2"/>
		<package name="plymouth"/>
		<package name="fontconfig"/>
		<package name="fonts-config"/>
	</packages>
	<packages type="iso">
		<package name="gfxboot-branding-openSUSE" bootinclude="true" bootdelete="true"/>
	</packages>
	<packages type="vmx">
		<package name="grub2-branding-openSUSE" bootinclude="true"/>
	</packages>
	<packages type="oem">
		<package name="grub2-branding-openSUSE" bootinclude="true"/>
	</packages>
	<packages type="image" profiles="xenFlavour">
		<package name="kernel-xen" replaces="kernel-default"/>
		<package name="xen-tools" arch="x86_64" replaces=""/>
		<package name="xen" arch="x86_64" replaces=""/>
	</packages>
	<packages type="image" profiles="vmxFlavour">
		<package name="kernel-default" replaces="kernel-xen"/>
		<package name="kernel-default" replaces="xen-tools"/>
		<package name="kernel-default" replaces="xen"/>
	</packages>
	<packages type="bootstrap">
		<package name="filesystem"/>
		<package name="glibc-locale"/>
		<package name="cracklib-dict-full"/>
		<package name="ca-certificates"/>
	</packages>
</image>
