<?xml version="1.0" encoding="utf-8"?>

<image schemaversion="6.1" name="LimeJeOS-DASD-ECKD-SLE12">
    <description type="system">
        <author>Marcus Schaefer</author>
        <contact>ms@suse.com</contact>
        <specification>SUSE Linux Enterprise 12 JeOS</specification>
    </description>
    <preferences>
        <version>1.1.0</version>
        <packagemanager>zypper</packagemanager>
        <bootsplash-theme>SLES</bootsplash-theme>
        <bootloader-theme>SLES</bootloader-theme>
        <rpm-excludedocs>true</rpm-excludedocs>
        <rpm-check-signatures>false</rpm-check-signatures>
        <locale>en_US</locale>
        <keytable>us.map.gz</keytable>
        <timezone>Europe/Berlin</timezone>
        <hwclock>utc</hwclock>
        <type image="vmx" filesystem="btrfs" boot="vmxboot/suse-SLES12" bootloader="grub2_s390x_emu" primary="true" target_blocksize="4096" zipl_targettype="CDL" kernelcmdline="cio_ignore=all,!ipldev,!condev">
            <size unit="G">2</size>
        </type>
        <type image="oem" filesystem="btrfs" boot="oemboot/suse-SLES12" bootloader="grub2_s390x_emu" target_blocksize="4096" zipl_targettype="CDL" kernelcmdline="cio_ignore=all,!ipldev,!condev">
            <size unit="G">2</size>
            <systemdisk>
                <volume name="home"/>
            </systemdisk>
            <oemconfig>
                <oem-swap>true</oem-swap>
                <oem-swapsize>512</oem-swapsize>
            </oemconfig>
        </type>
        <type image="pxe" filesystem="ext3" boot="netboot/suse-SLES12" bootloader="zipl"/>
    </preferences>
    <users group="root">
        <user password="$1$wYJUgpM5$RXMMeASDc035eX.NbYWFl0" home="/root" name="root"/>
    </users>
    <repository type="yast2">
        <source path="http://download.suse.de/install/SLP/SLE-12-Server-GM/s390x/DVD1"/>
    </repository>
    <packages type="image">
        <namedCollection name="Minimal"/>
        <product name="SLES"/>
        <package name="cmsfs"/>
        <package name="kernel-default"/>
        <package name="iputils"/>
        <package name="iproute2"/>
        <package name="vim"/>
        <package name="s390-tools"/>
        <package name="grub2-s390x-emu"/>
        <package name="grub2"/>
        <package name="lvm2"/>
        <package name="tar"/>
        <package name="parted"/>
        <package name="systemd"/>
        <package name="dracut"/>
        <package name="wicked"/>
        <package name="openssh"/>
        <package name="rsync"/>
        <package name="psmisc"/>
        <package name="sudo"/>
        <package name="dhcp-client"/>
        <package name="which"/>
        <package name="btrfsprogs"/>
        <package name="kexec-tools"/>
        <package name="less"/>
        <package name="patch"/>
    </packages>
    <packages type="bootstrap">
        <package name="filesystem"/>
        <package name="glibc-locale"/>
        <package name="cracklib-dict-full"/>
    </packages>
</image>
