<?xml version="1.0" encoding="utf-8"?>

<image schemaversion="6.0" name="LimeJeOS-13.1">
	<description type="system">
		<author>Marcus Schäfer</author>
		<contact>ms@novell.com</contact>
		<specification>
			13.1 JeOS image for arm (panda/beagle/efika) boards
		</specification>
	</description>
	<profiles>
		<profile name="pandaFlavour" description="Kernel/Tools setup for panda boards" import="true"/>
		<profile name="efikaFlavour" description="Kernel/Tools setup for efika boards"/>
		<profile name="beagleFlavour" description="Kernel/Tools setup for beagle boards"/>
	</profiles>
	<preferences>
		<type image="tbz" primary="true"/>
		<version>1.13.1</version>
		<packagemanager>zypper</packagemanager>
		<locale>en_US</locale>
		<keytable>us.map.gz</keytable>
		<timezone>Europe/Berlin</timezone>
		<hwclock>utc</hwclock>
		<rpm-excludedocs>true</rpm-excludedocs>
		<bootsplash-theme>openSUSE</bootsplash-theme>
		<bootloader-theme>openSUSE</bootloader-theme>
	</preferences>
	<preferences profiles="pandaFlavour">
		<type image="oem" filesystem="ext3" boot="oemboot/suse-13.1" bootloader="uboot" kernelcmdline="console=ttyO2 vram=16M" editbootconfig="uboot-image-setup" editbootinstall="uboot-image-install">
			<systemdisk/>
			<oemconfig>
				<oem-swapsize>500</oem-swapsize>
				<oem-swap>true</oem-swap>
			</oemconfig>
		</type>
	</preferences>
	<preferences profiles="efikaFlavour">
		<type image="oem" filesystem="ext3" boot="oemboot/suse-13.1" bootloader="uboot" kernelcmdline="console=ttymxc0,115200 vram=16M" editbootconfig="uboot-image-setup" editbootinstall="uboot-image-install">
			<systemdisk/>
			<oemconfig>
				<oem-swapsize>500</oem-swapsize>
				<oem-swap>true</oem-swap>
			</oemconfig>
		</type>
	</preferences>
	<preferences profiles="beagleFlavour">
		<type image="oem" filesystem="ext3" boot="oemboot/suse-13.1" bootloader="uboot" kernelcmdline="console=ttyO2 vram=16M" editbootconfig="uboot-image-setup" editbootinstall="uboot-image-install">
			<systemdisk/>
			<oemconfig>
				<oem-swapsize>500</oem-swapsize>
				<oem-swap>true</oem-swap>
			</oemconfig>
		</type>
	</preferences>
	<users group="root">
		<user password="$1$wYJUgpM5$RXMMeASDc035eX.NbYWFl0" home="/root" name="root"/>
	</users>
	<repository type="yast2" profiles="pandaFlavour,efikaFlavour,beagleFlavour">
		<source path="http://download.opensuse.org/ports/armv7hl/distribution/13.1/repo/oss"/>
	</repository>
	<packages type="bootstrap" profiles="pandaFlavour">
		<package name="kernel-default" bootinclude="true"/>
		<package name="u-boot-omap4panda" bootinclude="true"/>
		<archive name="uboot-setup.tgz" bootinclude="true"/>
	</packages>
	<packages type="bootstrap" profiles="efikaFlavour">
		<package name="kernel-imx51" bootinclude="true"/>
		<archive name="uboot-setup.tgz" bootinclude="true"/>
	</packages>
	<packages type="bootstrap" profiles="beagleFlavour">
		<package name="kernel-default" bootinclude="true"/>
		<package name="u-boot-omap3beagle" bootinclude="true"/>
		<package name="x-loader-omap3beagle" bootinclude="true"/>
		<archive name="uboot-setup.tgz" bootinclude="true"/>
	</packages>
	<packages type="bootstrap">
		<package name="ifplugd"/>
		<package name="iputils"/>
		<package name="vim"/>
		<package name="lvm2"/>
		<package name="filesystem"/>
		<package name="glibc-locale"/>
		<package name="cracklib-dict-full"/>
		<package name="module-init-tools"/>
		<package name="kbd"/>
		<package name="aaa_base"/>
		<package name="hwinfo"/>
		<package name="procps"/>
		<package name="sysconfig"/>
		<package name="openssh"/>
		<package name="dhcpcd"/>
		<package name="polkit"/>
		<package name="netcfg"/>
		<package name="rpcbind"/>
		<package name="mkinitrd"/>
		<package name="rpm"/>
		<package name="rsyslog"/>
		<package name="systemd-sysvinit"/>
		<package name="u-boot-tools"/>
		<package name="less"/>
		<package name="zypper"/>
		<package name="nfs-client"/>
	</packages>
</image>
