<?xml version="1.0" encoding="utf-8"?>

<image schemaversion="4.6" name="LimeJeOS-SLE10">
	<description type="system">
		<author>Christoph Thiel</author>
		<contact>cthiel@novell.com</contact>
		<specification>SUSE Linux Enterprise 10 SP3 JeOS</specification>
	</description>
	<profiles>
		<profile name="xenFlavour" description="VMX with Xen kernel"/>
		<profile name="vmxFlavour" description="VMX with default kernel" import="true"/>
	</profiles>
	<preferences>
		<version>1.1.0</version>
		<packagemanager>smart</packagemanager>
		<boot-theme>SLES</boot-theme>
		<rpm-excludedocs>true</rpm-excludedocs>
		<rpm-check-signatures>false</rpm-check-signatures>
		<locale>en_US</locale>
		<keytable>us.map.gz</keytable>
		<timezone>Europe/Berlin</timezone>
	</preferences>
	<preferences profiles="xenFlavour">
		<type image="vmx" filesystem="ext3" boot="vmxboot/suse-SLES10" bootprofile="xen" bootkernel="xenk">
			<xenconfig memory="512" domain="domU">
				<xendisk device="/dev/xvda"/>
				<xenbridge name=""/>
			</xenconfig>
		</type>
		<type image="oem" filesystem="ext3" boot="oemboot/suse-SLES10" bootprofile="xen" bootkernel="xenk" format="iso">
			<oemconfig>
				<oem-home>false</oem-home>
				<oem-systemsize>2048</oem-systemsize>
			</oemconfig>
			<xenconfig domain="dom0"/>
		</type>
	</preferences>
	<preferences profiles="vmxFlavour">
		<type image="vmx" filesystem="ext3" boot="vmxboot/suse-SLES10" format="vmdk">
			<vmwareconfig memory="512" guestOS="suse" HWversion="4">
				<vmwaredisk controller="scsi" id="0"/>
				<vmwarenic driver="e1000" interface="0" mode="bridged"/>
			</vmwareconfig>
		</type>
		<type image="oem" filesystem="ext3" boot="oemboot/suse-SLES10" format="iso">
			<oemconfig>
				<oem-home>false</oem-home>
				<oem-systemsize>2048</oem-systemsize>
			</oemconfig>
			<vmwareconfig memory="512" guestOS="suse" HWversion="4">
				<vmwaredisk controller="scsi" id="0"/>
				<vmwarenic driver="e1000" interface="0" mode="bridged"/>
			</vmwareconfig>
		</type>
	</preferences>
	<users group="root">
		<user pwd="$1$wYJUgpM5$RXMMeASDc035eX.NbYWFl0" home="/root" name="root"/>
	</users>
	<repository priority="3" type="rpm-md">
		<source path="obs:///SUSE:SLE-10-SP3:GA/SLE_10_SP2_Update"/>
	</repository>
	<repository priority="4" type="rpm-md">
		<source path="obs:///Devel:JeOS:SLE-10-SP3/SLE_10_SP3_Update"/>
	</repository>
	<repository priority="2" type="rpm-md">
		<source path="obs:///SUSE:SLE-10-SP2:Update/standard"/>
	</repository>
	<repository priority="1" type="rpm-md">
		<source path="obs:///SUSE:SLE-10-SP2:GA/standard"/>
	</repository>
	<repository type="rpm-dir">
		<source path="/usr/share/kiwi/repo/suse-repo/suse-sle10-repo"/>
	</repository>
	<packages type="image">
		<package name="aaa_base"/>
		<package name="dhcpcd"/>
		<package name="dhcp-client"/>
		<package name="insserv"/>
		<package name="kbd"/>
		<package name="mkinitrd"/>
		<package name="mdadm"/>
		<package name="module-init-tools"/>
		<package name="netcfg"/>
		<package name="openssh"/>
		<package name="procps"/>
		<package name="pwdutils"/>
		<package name="rpm"/>
		<package name="sles-release"/>
		<package name="suse-build-key"/>
		<package name="sysconfig"/>
		<package name="syslog-ng"/>
		<package name="grub"/>
		<package name="resmgr"/>
		<package name="iputils"/>
		<package name="zypper"/>
		<package name="bootsplash"/>
		<package name="vim"/>
		<package name="patch"/>
		<package name="psmisc"/>
		<package name="tar"/>
		<package name="timezone"/>
		<package name="sed"/>
		<package name="w3m"/>
		<package name="ifplugd"/>
		<package name="bootsplash-theme-SuSE-SLES" bootinclude="true" bootdelete="true"/>
		<package name="gfxboot" bootinclude="true" bootdelete="true"/>
	</packages>
	<packages type="image" profiles="xenFlavour">
		<package name="kernel-xen" arch="x86_64" replaces="kernel-default"/>
		<package name="kernel-xenpae" arch="i686" replaces="kernel-default"/>
		<package name="xen-tools-domU" replaces=""/>
		<package name="xen" replaces=""/>
	</packages>
	<packages type="image" profiles="vmxFlavour">
		<package name="kernel-default" arch="x86_64" replaces="kernel-xen"/>
		<package name="kernel-default" arch="i686" replaces="kernel-xenpae"/>
	</packages>
	<packages type="delete">
		<package name="patch"/>
	</packages>
	<packages type="bootstrap">
		<package name="filesystem"/>
		<package name="glibc-locale"/>
		<package name="procps"/>
		<package name="cracklib"/>
		<package name="openssl"/>
	</packages>
</image>
