<?xml version="1.0"?>
<image schemaversion="3.5" name="suse-11.1-live-iso">
	<description type="system">
		<author>Marcus Schäfer</author>
		<contact>ms@novell.com</contact>
		<specification>openSUSE 11.1 Live system</specification>
	</description>
	<preferences>
		<type primary="true" boot="isoboot/suse-11.1" flags="unified">iso</type>
		<version>2.5.1</version>
		<packagemanager>zypper</packagemanager>
		<rpm-check-signatures>False</rpm-check-signatures>
		<rpm-force>true</rpm-force>
		<locale>en_US.UTF-8</locale>
		<keytable>us.map.gz</keytable>
	</preferences>
	<users group="root">
		<user pwd="$1$wYJUgpM5$RXMMeASDc035eX.NbYWFl0" home="/root" name="root"/>
	</users>
	<repository type="yast2">
		<!--<source path="/image/CDs/full-11.1-i386"/>-->
		<source path="opensuse://11.1/repo/oss/"/>
	</repository>
	<packages type="image" patternType="plusRecommended" patternPackageType="plusRecommended">
		<package name="bootsplash-branding-openSUSE" bootinclude="true" bootdelete="true"/>
		<package name="gfxboot-branding-openSUSE" bootinclude="true" bootdelete="true"/>
		<package name="kernel-default"/>
		<package name="bootsplash"/>
		<package name="ifplugd"/>
		<package name="vim"/>
		<opensusePattern name="default"/>
		<opensusePattern name="kde4"/>
	</packages>
	<packages type="bootstrap">
		<package name="filesystem"/> 
		<package name="glibc-locale"/>
	</packages>
</image>
