<?xml version="1.0" encoding="utf-8"?>

<image schemaversion="5.6" name="suse-11.4-gnome-demo">
	<description type="system">
		<author>Robert Schweikert</author>
		<contact>rjschwei@suse.com</contact>
		<specification>SUSE LE 11 Appliance using GNOME</specification>
	</description>
	<preferences>
		<type image="vmx" primary="true" filesystem="ext4" boot="vmxboot/suse-11.4" format="vmdk">
			<machine memory="1024">
				<vmdisk controller="ide" id="0"/>
			</machine>
		</type>
		<type image="iso" boot="isoboot/suse-11.4" flags="clic"/>
		<version>1.0.1</version>
		<packagemanager>zypper</packagemanager>
		<rpm-check-signatures>false</rpm-check-signatures>
		<rpm-force>true</rpm-force>
		<locale>en_US</locale>
		<keytable>us.map.gz</keytable>
	</preferences>
	<users group="users">
		<user password="$1$wYJUgpM5$RXMMeASDc035eX.NbYWFl0" home="/home/tux" name="tux"/>
	</users>
	<users group="root">
		<user password="$1$wYJUgpM5$RXMMeASDc035eX.NbYWFl0" home="/root" name="root"/>
	</users>
	<repository type="yast2">
		<source path="iso:///opt/isos/SLES-11-SP2-DVD-x86_64-GM-DVD1.iso"/>
	</repository>
	<packages type="image" patternType="plusRecommended">
		<package name="bootsplash"/>
		<package name="bootsplash-branding-openSUSE" bootinclude="true" bootdelete="true"/>
		<package name="MozillaFirefox"/>
		<package name="gdm"/>
		<package name="gfxboot-branding-openSUSE" bootinclude="true" bootdelete="true"/>
		<package name="gnome-applets"/>
		<package name="ifplugd"/>
		<package name="iputils"/>
		<package name="kernel-default"/>
		<package name="python"/>
		<package name="perl"/>
		<package name="preload"/>
		<package name="tomboy"/>
		<package name="vim"/>
		<package name="xterm"/>
		<package name="icewm"/>
		<package name="gnome-session"/>
		<package name="xorg-x11-server"/>
		<package name="xorg-x11-driver-video"/>
		<package name="xorg-x11-driver-video-intel-legacy"/>
		<package name="xorg-x11-driver-video-nouveau"/>
		<package name="xorg-x11-driver-video-radeonhd"/>
		<package name="xkeyboard-config"/>
		<package name="xorg-x11-driver-input"/>
		<opensusePattern name="base"/>
		<opensusePattern name="x11"/>
	</packages>
	<packages type="bootstrap">
		<package name="filesystem"/>
		<package name="glibc-locale"/>
	</packages>
</image>
