<?xml version="1.0"?>
<image schemeversion="2.0" name="initrd-isoboot-suse-11.0">
	<description type="boot">
		<author>Marcus Schaefer</author>
		<contact>ms@novell.com</contact>
		<specification>boot/initrd image used for LiveDVD media</specification>
	</description>
	<preferences>
		<type bootprofile="default">cpio</type>
		<version>2.1.2</version>
		<size unit="M">60</size>
		<compressed>yes</compressed>
		<packagemanager>smart</packagemanager>
		<rpm-check-signatures>False</rpm-check-signatures>
	</preferences>
	<profiles>
		<profile name="default" description="Boot with default kernel"/>
		<profile name="smp" description="Boot with smp kernel"/>
		<profile name="rt" description="Boot with real time kernel"/>
	</profiles>
	<drivers type="usbdrivers">
		<file name="usb/host/usb-uhci.ko"/>
		<file name="usb/host/usb-ohci.ko"/>
		<file name="usb/host/ehci-hcd.ko"/>
		<file name="usb/host/uhci-hcd.ko"/>
		<file name="usb/core/usbcore.ko"/>
		<file name="usb/storage/usb-storage.ko"/>
	</drivers>
	<drivers type="drivers">
		<file name="drivers/ide/*"/>
		<file name="drivers/block/loop.ko"/>
		<file name="drivers/block/rd.ko"/>
		<file name="net/packet/*"/>
		<file name="fs/ext3/*"/>
		<file name="fs/ext2/*"/>
		<file name="fs/binfmt_aout.ko"/>
		<file name="fs/binfmt_misc.ko"/>
		<file name="fs/mbcache.ko"/>
		<file name="fs/quota_v1.ko"/>
		<file name="fs/quota_v2.ko"/>
		<file name="fs/jbd/*"/>
		<file name="fs/fat/*"/>
		<file name="fs/vfat/*"/>
		<file name="fs/squashfs/*"/>
		<file name="fs/aufs.ko"/>
		<file name="fs/reiserfs/*"/>
		<file name="fs/nls/nls_utf8.ko"/>
		<file name="net/ipv6/*"/>
		<file name="drivers/cdrom/*"/>
		<file name="drivers/scsi/*"/>
		<file name="drivers/message/fusion/*"/>
		<file name="drivers/net/*"/>
		<file name="drivers/ata/*"/>
		<file name="drivers/parport/*"/>
		<file name="drivers/char/lp.ko"/>
	</drivers>
	<repository type="yast2" status="replaceable">
		<source path="/image/CDs/full-i386"/>
	</repository>
	<packages type="image" profiles="default">
		<package name="kernel-default"/>
		<package name="aufs-kmp-default"/>
	</packages>
	<packages type="image" profiles="smp">
		<package name="kernel-bigsmp"/>
		<package name="aufs-kmp-bigsmp"/>
	</packages>
	<packages type="image" profiles="rt">
		<package name="kernel-rt"/>
	</packages>
	<packages type="image">
		<package name="psmisc"/>
		<package name="bind-libs"/>
		<package name="bind-utils"/>
		<package name="dhcpcd"/>
		<package name="gawk"/>
		<package name="hwinfo"/>
		<package name="iproute2"/>
		<package name="lvm2"/>
		<package name="netcfg"/>
		<package name="sysconfig"/>
		<package name="sysfsutils"/>
		<package name="file"/>
		<package name="gfxboot"/>
		<package name="syslinux"/>
		<package name="make"/>
		<package name="memtest86+"/>
		<package name="squashfs"/>
		<package name="aufs"/>
		<package name="fribidi"/>
		<package name="hdparm"/>
		<package name="grub"/>
		<package name="bootsplash"/>
		<package name="bootsplash-theme-SuSE"/>
		<package name="tar"/>
	</packages>
	<packages type="bootstrap">
		<package name="filesystem"/>
		<package name="glibc-locale"/>
	</packages>
	<packages type="delete">
		<package name="PolicyKit"/>
		<package name="audit-libs"/>
		<package name="blocxx"/>
		<package name="cpio"/>
		<package name="cyrus-sasl"/>
		<package name="db"/>
		<package name="expat"/>
		<package name="fillup"/>
		<package name="gawk"/>
		<package name="gdbm"/>
		<package name="glib2"/>
		<package name="glibc-locale"/>
		<package name="gnome-filesystem"/>
		<package name="gpg"/>
		<package name="info"/>
		<package name="insserv"/>
		<package name="iproute2"/>
		<package name="irqbalance"/>
		<package name="libxcrypt"/>
		<package name="libxml2"/>
		<package name="libzio"/>
		<package name="limal"/>
		<package name="limal-bootloader"/>
		<package name="limal-perl"/>
		<package name="logrotate"/>
		<package name="mdadm"/>
		<package name="mingetty"/>
		<package name="openSUSE-release"/>
		<package name="openldap2-client"/>
		<package name="openslp"/>
		<package name="pam"/>
		<package name="pam-modules"/>
		<package name="pcre"/>
		<package name="perl"/>
		<package name="perl-Bootloader"/>
		<package name="perl-gettext"/>
		<package name="permissions"/>
		<package name="pm-utils pmtools"/>
		<package name="python"/>
		<package name="python-xml"/>
		<package name="resmgr"/>
		<package name="rpm-python"/>
		<package name="smart"/>
		<package name="suse-build-key"/>
		<package name="syslinux"/>
		<package name="gfxboot"/>
		<package name="make"/>
		<package name="memtest86+"/>
		<package name="bootsplash-theme-SuSE"/>
	</packages>
</image>
