<?xml version="1.0" encoding="utf-8"?>

<image schemaversion="6.1" name="VagrantBox-openSUSE-13.1">
    <description type="system">
        <author>Marcus Schäfer</author>
        <contact>ms@suse.com</contact>
        <specification>
            openSUSE 13.1 vagrant base box
        </specification>
    </description>
    <preferences>
        <type image="vmx" filesystem="ext3" boot="vmxboot/suse-13.1" format="vagrant" bootloader="grub2" kernelcmdline="nomodeset">
            <vagrantconfig provider="libvirt" virtualsize="16"/>
            <vagrantconfig provider="virtualbox" virtualsize="16"/>
        </type>
        <version>1.13.1</version>
        <packagemanager>zypper</packagemanager>
        <locale>en_US</locale>
        <keytable>us.map.gz</keytable>
        <timezone>Europe/Berlin</timezone>
        <hwclock>utc</hwclock>
        <rpm-excludedocs>true</rpm-excludedocs>
        <bootsplash-theme>openSUSE</bootsplash-theme>
        <bootloader-theme>openSUSE</bootloader-theme>
    </preferences>
    <users group="root">
        <user name="root" password="vh4vw1N4alxKQ" home="/root"/>
    </users>
    <users group="vagrant">
        <user name="vagrant" password="vh4vw1N4alxKQ" home="/home/vagrant"/>
    </users>
    <repository type="yast2">
        <source path="obs://13.1/repo/oss"/>
    </repository>
    <packages type="image">
        <namedCollection name="base"/>
        <product name="openSUSE"/>
        <package name="plymouth-branding-openSUSE" bootinclude="true"/>
        <package name="grub2-branding-openSUSE" bootinclude="true"/>
        <package name="virtualbox-guest-tools"/>
        <package name="ifplugd"/>
        <package name="iputils"/>
        <package name="vim"/>
        <package name="grub2"/>
        <package name="syslinux"/>
        <package name="lvm2"/>
        <package name="plymouth"/>
        <package name="fontconfig"/>
        <package name="fonts-config"/>
        <package name="tar"/>
        <package name="parted"/>
        <package name="autoyast2"/>
        <package name="sudo"/>
        <package name="rsync"/>
        <package name="kernel-default"/>
    </packages>
    <packages type="bootstrap">
        <package name="udev"/>
        <package name="filesystem"/>
        <package name="glibc-locale"/>
        <package name="cracklib-dict-full"/>
        <package name="ca-certificates"/>
        <package name="module-init-tools"/>
    </packages>
    <packages type="delete">
        <package name="kernel-debug"/>
    </packages>
</image>
