<?xml version="1.0" encoding="utf-8"?>

<image schemaversion="6.1" name="LimeJeOS-openSUSE-13.1">
    <description type="system">
        <author>Marcus Schäfer</author>
        <contact>ms@novell.com</contact>
        <specification>
            openSUSE 13.1 JeOS, is a small text based image
        </specification>
    </description>
    <profiles>
        <profile name="xenFlavour" description="VMX with Xen kernel"/>
        <profile name="ec2Flavour" description="VMX with EC2/Xen kernel"/>
        <profile name="vmxFlavour" description="VMX with default kernel" import="true"/>
    </profiles>
    <preferences>
        <type image="iso" primary="true" boot="isoboot/suse-13.1" flags="overlay" hybrid="true" firmware="efi"/>
        <version>1.13.1</version>
        <packagemanager>zypper</packagemanager>
        <locale>en_US</locale>
        <keytable>us.map.gz</keytable>
        <timezone>Europe/Berlin</timezone>
        <hwclock>utc</hwclock>
        <rpm-excludedocs>true</rpm-excludedocs>
        <bootsplash-theme>openSUSE</bootsplash-theme>
        <bootloader-theme>openSUSE</bootloader-theme>
    </preferences>
    <preferences profiles="ec2Flavour">
        <type image="vmx" filesystem="ext3" boot="vmxboot/suse-13.1" bootprofile="ec2" bootkernel="ec2k" bootloader="grub" kernelcmdline="xencons=xvc0 console=xvc0 multipath=off splash=silent showopts"/>
    </preferences>
    <preferences profiles="xenFlavour">
        <type image="vmx" filesystem="ext3" boot="vmxboot/suse-13.1" bootprofile="xen" bootkernel="xenk" bootloader="grub2">
            <machine memory="512" domain="domU">
                <vmdisk id="0" device="/dev/xvda" controller="ide"/>
                <vmnic interface=""/>
            </machine>
        </type>
        <type image="oem" filesystem="ext3" boot="oemboot/suse-13.1" bootprofile="xen" bootkernel="xenk" installiso="true" bootloader="grub2">
            <oemconfig>
                <oem-systemsize>2048</oem-systemsize>
                <oem-swap>true</oem-swap>
            </oemconfig>
            <machine domain="dom0">
                <vmdisk id="0" controller="ide"/>
            </machine>
        </type>
    </preferences>
    <preferences profiles="vmxFlavour">
        <type image="vmx" filesystem="ext3" boot="vmxboot/suse-13.1" format="vmdk" bootloader="grub2">
            <machine memory="512" guestOS="suse" HWversion="4">
                <vmdisk id="0" controller="ide"/>
                <vmnic driver="e1000" interface="0" mode="bridged"/>
            </machine>
        </type>
        <type image="oem" filesystem="ext3" boot="oemboot/suse-13.1" installiso="true" bootloader="grub2">
            <oemconfig>
                <oem-systemsize>2048</oem-systemsize>
                <oem-swap>true</oem-swap>
            </oemconfig>
            <machine memory="512" guestOS="suse" HWversion="4">
                <vmdisk id="0" controller="ide"/>
                <vmnic driver="e1000" interface="0" mode="bridged"/>
            </machine>
        </type>
    </preferences>
    <users group="root">
        <user password="$1$wYJUgpM5$RXMMeASDc035eX.NbYWFl0" home="/root" name="root"/>
    </users>
    <repository type="yast2">
        <source path="obs://13.1/repo/oss"/>
    </repository>
    <packages type="image">
        <namedCollection name="base"/>
        <product name="openSUSE"/>
        <package name="plymouth-branding-openSUSE" bootinclude="true"/>
        <package name="grub2-branding-openSUSE" bootinclude="true"/>
        <package name="ifplugd"/>
        <package name="iputils"/>
        <package name="vim"/>
        <package name="grub2"/>
        <package name="syslinux"/>
        <package name="lvm2"/>
        <package name="plymouth"/>
        <package name="fontconfig"/>
        <package name="fonts-config"/>
        <package name="tar"/>
        <package name="parted"/>
        <package name="autoyast2"/>
    </packages>
    <packages type="iso">
        <package name="gfxboot-branding-openSUSE" bootinclude="true" bootdelete="true"/>
    </packages>
    <packages type="oem">
        <package name="gfxboot-branding-openSUSE" bootinclude="true" bootdelete="true"/>
    </packages>
    <packages type="image" profiles="ec2Flavour">
        <package name="kernel-ec2" replaces="kernel-default"/>
        <package name="kernel-ec2" replaces="kernel-xen"/>
        <package name="xen-tools" arch="x86_64" replaces=""/>
        <package name="xen" arch="x86_64" replaces=""/>
    </packages>
    <packages type="image" profiles="xenFlavour">
        <package name="kernel-xen" replaces="kernel-default"/>
        <package name="kernel-xen" replaces="kernel-ec2"/>
        <package name="xen-tools" arch="x86_64" replaces=""/>
        <package name="xen" arch="x86_64" replaces=""/>
    </packages>
    <packages type="image" profiles="vmxFlavour">
        <package name="kernel-default" replaces="kernel-xen"/>
        <package name="kernel-default" replaces="kernel-ec2"/>
        <package name="kernel-default" replaces="xen-tools"/>
        <package name="kernel-default" replaces="xen"/>
    </packages>
    <packages type="bootstrap">
        <package name="udev"/>
        <package name="filesystem"/>
        <package name="glibc-locale"/>
        <package name="cracklib-dict-full"/>
        <package name="ca-certificates"/>
        <package name="module-init-tools"/>
    </packages>
    <packages type="delete">
        <package name="kernel-debug"/>
    </packages>
</image>
