<?xml version="1.0" encoding="utf-8"?>

<image schemaversion="5.8" name="suse-12.1-ec2-guest">
	<description type="system">
		<author>Marcus Schäfer</author>
		<contact>ms@novell.com</contact>
		<specification>openSUSE 12.1 ec2 guest system</specification>
	</description>
	<preferences>
		<version>1.1.2</version>
		<packagemanager>zypper</packagemanager>
		<rpm-check-signatures>false</rpm-check-signatures>
		<rpm-force>true</rpm-force>
		<locale>en_US</locale>
		<keytable>us.map.gz</keytable>
		<type image="vmx" filesystem="ext3" boot="vmxboot/suse-12.1" bootprofile="ec2" bootkernel="ec2k" bootloader="grub" kernelcmdline="xencons=xvc0 console=xvc0 multipath=off splash=silent showopts" firmware="ec2" boottimeout="1" vga="normal" installprovidefailsafe="false"/>
	</preferences>
	<users group="root">
		<user password="$1$wYJUgpM5$RXMMeASDc035eX.NbYWFl0" home="/root" name="root"/>
	</users>
	<repository type="yast2">
		<source path="opensuse://12.1/repo/oss/"/>
	</repository>
	<repository type="yast2">
		<source path="opensuse://12.1/repo/non-oss"/>
	</repository>
	<packages type="image">
		<package name="bootsplash-branding-openSUSE" bootinclude="true" bootdelete="true"/>
		<package name="gfxboot-branding-openSUSE" bootinclude="true" bootdelete="true"/>
		<package name="ifplugd"/>
		<package name="kernel-ec2"/>
		<package name="kernel-ec2-base"/>
		<package name="suse-ami-tools"/>
		<package name="vim"/>
		<package name="xen-tools-domU"/>
		<package name="xen"/>
		<package name="grub"/>
		<namedCollection name="base"/>
	</packages>
	<packages type="bootstrap">
		<package name="filesystem"/>
		<package name="glibc-locale"/>
	</packages>
</image>
